#  Second Highest Salary

In [10]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
def Second_Highest_Salary(employee: pd.DataFrame)->pd.DataFrame:
     # drop the duplicates
     employee.drop_duplicates(subset= ['salary'], inplace= True)
     # apply condition
     if employee.shape[0] < 2:
          return pd.DataFrame([[None]], columns = ['SecondHighestSalary'])
     
     # sort the values
     employee.sort_values(by = 'salary', inplace= True, ascending= False)
     # update the salary
     employee = employee[['salary']]
     # rename the columns
     employee.rename(columns= {'salary' : 'SecondHighestSalary'}, inplace= True)
     return employee.iloc[1:2]

def main()->pd.DataFrame:
     employee = {'id':[1,2,3], 'salary':[100,200,300]}
     ans = pd.DataFrame(employee)
     return ans

if __name__ == "__main__":
     data = main()
     result = Second_Highest_Salary(data)

In [11]:
data

   id  salary
2   3     300
1   2     200
0   1     100

In [12]:
result

   SecondHighestSalary
1                  200

# Nth Highest Salary

In [15]:
def NthHighestSalary(employee: pd.DataFrame, N: int)->pd.DataFrame:
     employee = employee.sort_values('salary', ascending= False).drop_duplicates(subset = ['salary'])
     if N <= employee.shape[0] and N > 0:
          employee[f"getNthHighestSalary ({N})"] = employee['salary'][N - 1 : N]
          return (employee[[f"getNthHighestSalary ({N})"]].iloc[N - 1 : N])
     
     else:
          employee[f"getNthHighestSalary ({N})"] = None
          return (employee[[f"getNthHighestSalary ({N})"]].drop_duplicates(keep='first'))
     
def main()->pd.DataFrame:
     employee = {'id':[1,2,3], 'salary':[100,200,300]}
     ans = pd.DataFrame(employee)
     return ans

if __name__ == "__main__":
     data = main()
     N = 2
     res = NthHighestSalary(data, N)

In [16]:
res

   getNthHighestSalary (2)
1                    200.0

# Increase Transaction

In [19]:
import pandas as pd
import numpy as np

def consecutive_increasing_transactions(transactions: pd.DataFrame) -> pd.DataFrame:

    def define_stretches(df):
        res = df.copy(deep=True)
        res = res.sort_values("transaction_date")
        nrows = res.shape[0]
        stretches = np.zeros(nrows, dtype=int)
        amounts = res["amount"].values
        dates = res["transaction_date"].values
        for i in range(1, nrows):
            stretches[i] = (
                stretches[i - 1] 
                if (dates[i] - dates[i - 1] == np.timedelta64(1, "D")) and amounts[i] >= amounts[i - 1]
                else stretches[i - 1] + 1
            )
        res["stretches"] = stretches
        return res

    aux = (
        transactions
        .groupby("customer_id", as_index=False)[["customer_id", "transaction_date","amount"]]
        .apply(define_stretches)
        .reset_index(drop=True)
    )

    def validate_stretch(df: pd.DataFrame) -> pd.DataFrame:
        long_enough = df.shape[0] >= 3
        if long_enough:
            res = pd.DataFrame(
                data={
                    "customer_id": df["customer_id"].values[0],
                    "consecutive_start": df["transaction_date"].values[0],
                    "consecutive_end": df["transaction_date"].values[-1]
                },
                index=[0]
            )
            return res
        else:
            return pd.DataFrame(columns=["customer_id", "consecutive_start", "consecutive_end"])
        
    result = (
        aux
        .groupby(["customer_id", "stretches"])[["customer_id", "transaction_date", "amount", "stretches"]]
        .apply(validate_stretch)
        .reset_index(drop=True)
        .sort_values(by="customer_id", ascending=True)
    )

    return result

def main() -> pd.DataFrame:
    # Example DataFrame for transactions
    transactions = pd.DataFrame({
        "customer_id": [1, 1, 1, 2, 2, 2, 3, 3, 3],
        "transaction_date": pd.to_datetime(["2024-01-01", "2024-01-02", "2024-01-05", 
                                            "2024-01-01", "2024-01-03", "2024-01-06", 
                                            "2024-01-01", "2024-01-02", "2024-01-03"]),
        "amount": [100, 110, 120, 200, 190, 180, 300, 310, 320]
    })
    
    # Apply the function to find consecutive increasing transactions
    result = consecutive_increasing_transactions(transactions)
    return result

if __name__ == "__main__":
    data = main()
    print(data)

  customer_id consecutive_start consecutive_end
0           3        2024-01-01      2024-01-03

# ads Performance

In [21]:
import pandas as pd

def ads_performance(ads: pd.DataFrame) -> pd.DataFrame:

    def compute_ctr(df):
        nb_clicks = (df["action"] == "Clicked").sum()
        nb_views = (df["action"] == "Viewed").sum()
        if nb_clicks + nb_views == 0:
            return 0
        else:
            return round(100 * nb_clicks / (nb_clicks + nb_views), 2)

    ts = ads.groupby(by="ad_id").apply(compute_ctr)
    ts.name = "ctr"

    res = ts.reset_index().sort_values(by=["ctr", "ad_id"], ascending=[False, True])

    return res

def main() -> pd.DataFrame:
    # Example DataFrame for ads
    ads = pd.DataFrame({
        "ad_id": [1, 1, 2, 2, 3],
        "action": ["Viewed", "Clicked", "Viewed", "Viewed", "Clicked"]
    })

    # Apply the function to compute ad performance
    result = ads_performance(ads)
    return result

if __name__ == "__main__":
    data = main()

In [22]:
data

   ad_id    ctr
2      3  100.0
0      1   50.0
1      2    0.0

# Diabatic patients

In [3]:
import pandas as pd
def Find_Patients(patients : pd.DataFrame)->pd.DataFrame:
     patients_condition = patients[patients['conditions'].str.contains(r'\DIAB1')]
     df = patients_condition[['patient_id', 'patient_name', 'conditions']]
     return df

def main()->pd.DataFrame:
     patients = {'patient_id' : [1, 2, 3, 4, 5],
                 'patient_name' : ['Daniel', 'Alice', 'Bob', 'George', 'Alain'],
                 'conditions' : ['YFEV COUGH','', 'DIAB100 MYOP', 'ACNE DIAB100', 'DIAB201'] }
     ans = pd.DataFrame(patients)
     res = Find_Patients(ans)
     return res

if __name__ == "__main__":
     data = main()

In [4]:
data

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

# Valid Emails

In [6]:
import pandas as pd
def valid_emails(users: pd.DataFrame)->pd.DataFrame:
     valid_mails = users[users['mails'].str.match(r'^[A-Za-z][A-Za-z0-9_\.\-]*@leetcode(\?com)?\.com')]
     return valid_mails

def main()->pd.DataFrame:
     table = {'user_id' : [1, 2, 3, 4, 5, 6, 7],
              'name' : ['Winston', 'Jonathan', 'Annabelle', 'Sally', 'Marwan', 'David', 'Shapiro'],
              'mails' : ['winston@leetcode.com', 'jonathanisgreat',
                        'bella-@leetcode.com', 'sally.come@leetcode.com',
                        'quarz#2020@leetcode.com', 'david69@gmail.com', '.shapo@leetcode.com']}
     Ans = pd.DataFrame(table)
     data = valid_emails(Ans)
     return data

if __name__ == "__main__":
     dataset = main()
     print(dataset)

   user_id       name                    mails
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com

# Fix Name

In [7]:
def fix_name(users : pd.DataFrame) -> pd.DataFrame:
     users['name'] = users['name'].str.capitalize()
     return users.sort_values(by = 'name')

def main()->pd.DataFrame:
     table = {'user_id' : [1, 2], 'name' : ['aLice', 'bOB']}
     ans = pd.DataFrame(table)
     res = fix_name(ans)
     return res

if __name__ == "__main__":
     data = main()
     print(data)

   user_id   name
0        1  Alice
1        2    Bob

# Calculate Special Bonus

In [2]:
import pandas as pd
def Bonus(employees:pd.DataFrame)->pd.DataFrame:
     employees['Bonus'] = 0
     employees.loc[(employees['employees_id'] % 2 != 0) & (~employees['name'].str.startswith('M')), 'Bonus'] = employees['salary']
     return employees[['employees_id', 'Bonus']].sort_values(by= 'employees_id', ascending= True)


def main()->pd.DataFrame:
     employees = {'employees_id' : [2, 3, 7, 8, 9],
                  'name' : ["Meir", 'Micheals', 'Addilyn', 'Juan', 'Kannon'],
                  'salary' : [3000, 3800, 7400, 6100, 7700]}
     ans = pd.DataFrame(employees)
     res = Bonus(ans)
     return res

if __name__ == "__main__":
     data = main()
     print(data)

   employees_id  Bonus
0             2      0
1             3      0
2             7   7400
3             8      0
4             9   7700

# Invalid tweets

In [2]:
import pandas as pd
def invalid_tweets(tweets: pd.DataFrame)->pd.DataFrame:
     new_df = tweets[tweets['content'].str.len() > 15]
     result = new_df[['tweet_id']]
     return result

def main()->pd.DataFrame:
     tweets = {'tweet_id' : [1,2],
               'content' : ['vote for Biden', 'Let us make America great again!']}
     ans = pd.DataFrame(tweets)
     res = invalid_tweets(ans)
     return res

if __name__ == "__main__":
     data = main()
     print(data)

   tweet_id
1         2