In [614]:
import pandas as pd
import numpy as np

In [615]:
df = pd.read_csv(r"C:\Users\mk744\Downloads\May'24.csv")

In [616]:
df.head()

,Program,Clicks,Leads,Sale Amount,Payout,CR,Date
0,Walmart Affiliate Program,2409,262,1.368174e+08,4.211387e+05,0.1088,May'24
1,NordVPN,365,19,6.347903e+06,2.539217e+06,0.0521,May'24
2,DHgate,378,17,3.234966e+06,2.251740e+05,0.0450,May'24
3,InVideo,62,3,0.000000e+00,0.000000e+00,0.0484,May'24
4,Wondershare Software,311,2,2.851493e+05,8.560053e+04,0.0064,May'24

In [617]:
# convert scientific value into numeric values
if 'Sale Amount' in df.columns and 'Payout' in df.columns:
    df[['Sale Amount', 'Payout']] = df[['Sale Amount', 'Payout']].astype('float')
    df[['Sale Amount', 'Payout']] = df[['Sale Amount', 'Payout']].applymap(lambda x: '{:.0f}'.format(x))
    df[['Sale Amount', 'Payout']] = df[['Sale Amount', 'Payout']].apply(pd.to_numeric)

In [618]:
df.head()

,Program,Clicks,Leads,Sale Amount,Payout,CR,Date
0,Walmart Affiliate Program,2409,262,136817388,421139,0.1088,May'24
1,NordVPN,365,19,6347903,2539217,0.0521,May'24
2,DHgate,378,17,3234966,225174,0.0450,May'24
3,InVideo,62,3,0,0,0.0484,May'24
4,Wondershare Software,311,2,285149,85601,0.0064,May'24

In [619]:
# Check and filter rows where specific columns are not NaN
columns_to_check = ['Program', 'Clicks', 'Sale Amount', 'Payout']
mask = df[columns_to_check].notna().all(axis=1)
df_filtered = df[mask]

print("Filtered DataFrame:")
df_filtered.head()

Filtered DataFrame:

,Program,Clicks,Leads,Sale Amount,Payout,CR,Date
0,Walmart Affiliate Program,2409,262,136817388,421139,0.1088,May'24
1,NordVPN,365,19,6347903,2539217,0.0521,May'24
2,DHgate,378,17,3234966,225174,0.0450,May'24
3,InVideo,62,3,0,0,0.0484,May'24
4,Wondershare Software,311,2,285149,85601,0.0064,May'24

In [620]:
df.iloc[0:14, 0:7]

,Program,Clicks,Leads,Sale Amount,Payout,CR,Date
0,Walmart Affiliate Program,2409,262,136817388,421139,0.1088,May'24
1,NordVPN,365,19,6347903,2539217,0.0521,May'24
2,DHgate,378,17,3234966,225174,0.0450,May'24
3,InVideo,62,3,0,0,0.0484,May'24
4,Wondershare Software,311,2,285149,85601,0.0064,May'24
5,DigitalOcean,229,2,0,0,0.0087,May'24
6,Namecheap,173,2,12688,4604,0.0116,May'24
7,Blinkist,60,2,0,0,0.0333,May'24
8,CASETiFY,145,1,431601,43160,0.0069,May'24
9,Wish,72,1,96581,2925,0.0139,May'24
10,Bubble,41,1,0,0,0.0244,May'24
11,Lenovo Mexico,15,1,5425716,314690,0.0667,May'24
12,SSLs.com,2,1,69564,24372,0.5000,May'24
13,OnePlus US & Canada,125,0,0,0,0.0000,May'24

In [621]:
df[df['Clicks'] > 100]

,Program,Clicks,Leads,Sale Amount,Payout,CR,Date
0,Walmart Affiliate Program,2409,262,136817388,421139,0.1088,May'24
1,NordVPN,365,19,6347903,2539217,0.0521,May'24
2,DHgate,378,17,3234966,225174,0.0450,May'24
4,Wondershare Software,311,2,285149,85601,0.0064,May'24
5,DigitalOcean,229,2,0,0,0.0087,May'24
6,Namecheap,173,2,12688,4604,0.0116,May'24
8,CASETiFY,145,1,431601,43160,0.0069,May'24
13,OnePlus US & Canada,125,0,0,0,0.0000,May'24
14,Banggood,113,0,0,0,0.0000,May'24

In [622]:
df[df['Payout']>=1000]

,Program,Clicks,Leads,Sale Amount,Payout,CR,Date
0,Walmart Affiliate Program,2409,262,136817388,421139,0.1088,May'24
1,NordVPN,365,19,6347903,2539217,0.0521,May'24
2,DHgate,378,17,3234966,225174,0.0450,May'24
4,Wondershare Software,311,2,285149,85601,0.0064,May'24
6,Namecheap,173,2,12688,4604,0.0116,May'24
8,CASETiFY,145,1,431601,43160,0.0069,May'24
9,Wish,72,1,96581,2925,0.0139,May'24
11,Lenovo Mexico,15,1,5425716,314690,0.0667,May'24
12,SSLs.com,2,1,69564,24372,0.5000,May'24

In [623]:
df[df['Payout'].isin([2539217, 421139, 225174, 85601])]

,Program,Clicks,Leads,Sale Amount,Payout,CR,Date
0,Walmart Affiliate Program,2409,262,136817388,421139,0.1088,May'24
1,NordVPN,365,19,6347903,2539217,0.0521,May'24
2,DHgate,378,17,3234966,225174,0.0450,May'24
4,Wondershare Software,311,2,285149,85601,0.0064,May'24

In [624]:
# how to find number of columns
for col in df:
     print(col)

Program
Clicks
Leads
Sale Amount
Payout
CR
Date

In [625]:
# number of rows
for rows in df.iterrows():
     print(rows)

(0, Program        Walmart Affiliate Program
Clicks                              2409
Leads                                262
Sale Amount                    136817388
Payout                            421139
CR                                0.1088
Date                              May'24
Name: 0, dtype: object)
(1, Program        NordVPN
Clicks             365
Leads               19
Sale Amount    6347903
Payout         2539217
CR              0.0521
Date            May'24
Name: 1, dtype: object)
(2, Program         DHgate
Clicks             378
Leads               17
Sale Amount    3234966
Payout          225174
CR               0.045
Date            May'24
Name: 2, dtype: object)
(3, Program        InVideo
Clicks              62
Leads                3
Sale Amount          0
Payout               0
CR              0.0484
Date            May'24
Name: 3, dtype: object)
(4, Program        Wondershare Software
Clicks                          311
Leads                             2
Sale Amount                  285149
Payout                        85601
CR                           0.0064
Date                         May'24
Name: 4, dtype: object)
(5, Program        DigitalOcean
Clicks                  229
Leads                     2
Sale Amount               0
Payout                    0
CR                   0.0087
Date                 May'24
Name: 5, dtype: object)
(6, Program        Namecheap
Clicks               173
Leads                  2
Sale Amount        12688
Payout              4604
CR                0.0116
Date              May'24
Name: 6, dtype: object)
(7, Program        Blinkist
Clicks               60
Leads                 2
Sale Amount           0
Payout                0
CR               0.0333
Date             May'24
Name: 7, dtype: object)
(8, Program        CASETiFY
Clicks              145
Leads                 1
Sale Amount      431601
Payout            43160
CR               0.0069
Date             May'24
Name: 8, dtype: object)
(9, Program          Wish
Clicks             72
Leads               1
Sale Amount     96581
Payout           2925
CR             0.0139
Date           May'24
Name: 9, dtype: object)
(10, Program        Bubble
Clicks             41
Leads               1
Sale Amount         0
Payout              0
CR             0.0244
Date           May'24
Name: 10, dtype: object)
(11, Program        Lenovo Mexico
Clicks                    15
Leads                      1
Sale Amount          5425716
Payout                314690
CR                    0.0667
Date                  May'24
Name: 11, dtype: object)
(12, Program        SSLs.com
Clicks                2
Leads                 1
Sale Amount       69564
Payout            24372
CR                  0.5
Date             May'24
Name: 12, dtype: object)
(13, Program        OnePlus US & Canada
Clicks                         125
Leads                            0
Sale Amount                      0
Payout                           0
CR                             0.0
Date                        May'24
Name: 13, dtype: object)
(14, Program        Banggood
Clicks              113
Leads                 0
Sale Amount           0
Payout                0
CR                  0.0
Date             May'24
Name: 14, dtype: object)
(15, Program        Bluehost
Clicks               67
Leads                 0
Sale Amount           0
Payout                0
CR                  0.0
Date             May'24
Name: 15, dtype: object)
(16, Program        Lenovo Hong Kong
Clicks                       27
Leads                         0
Sale Amount                   0
Payout                        0
CR                          0.0
Date                     May'24
Name: 16, dtype: object)
(17, Program        Envato Elements
Clicks                      25
Leads                        0
Sale Amount                  0
Payout                       0
CR                         0.0
Date                    May'24
Name: 17, dtype: object)
(18, Program        Name.com
Clicks               17
Leads                 0
Sale Amount           0
Payout                0
CR                  0.0
Date             May'24
Name: 18, dtype: object)
(19, Program        Clean Email
Clicks                  14
Leads                    0
Sale Amount              0
Payout                   0
CR                     0.0
Date                May'24
Name: 19, dtype: object)
(20, Program        Skillshare
Clicks                 13
Leads                   0
Sale Amount             0
Payout                  0
CR                    0.0
Date               May'24
Name: 20, dtype: object)
(21, Program        Lenovo India
Clicks                    8
Leads                     0
Sale Amount               0
Payout                    0
CR                      0.0
Date                 May'24
Name: 21, dtype: object)
(22, Program        Lenovo Singapore
Clicks                        8
Leads                         0
Sale Amount                   0
Payout                        0
CR                          0.0
Date                     May'24
Name: 22, dtype: object)
(23, Program        Web.com
Clicks               6
Leads                0
Sale Amount          0
Payout               0
CR                 0.0
Date            May'24
Name: 23, dtype: object)
(24, Program        Lenovo Thailand
Clicks                       6
Leads                        0
Sale Amount                  0
Payout                       0
CR                         0.0
Date                    May'24
Name: 24, dtype: object)
(25, Program        Lenovo South Korea
Clicks                          5
Leads                           0
Sale Amount                     0
Payout                          0
CR                            0.0
Date                       May'24
Name: 25, dtype: object)
(26, Program        Lenovo Peru
Clicks                   4
Leads                    0
Sale Amount              0
Payout                   0
CR                     0.0
Date                May'24
Name: 26, dtype: object)
(27, Program        Crazy Domains Affiliate Program
Clicks                                       3
Leads                                        0
Sale Amount                                  0
Payout                                       0
CR                                         0.0
Date                                    May'24
Name: 27, dtype: object)
(28, Program        Travelstart
Clicks                   2
Leads                    0
Sale Amount              0
Payout                   0
CR                     0.0
Date                May'24
Name: 28, dtype: object)
(29, Program        Tribesigns
Clicks                  1
Leads                   0
Sale Amount             0
Payout                  0
CR                    0.0
Date               May'24
Name: 29, dtype: object)
(30, Program        BigRock.in
Clicks                  1
Leads                   0
Sale Amount             0
Payout                  0
CR                    0.0
Date               May'24
Name: 30, dtype: object)
(31, Program        Lenovo Colombia
Clicks                       1
Leads                        0
Sale Amount                  0
Payout                       0
CR                         0.0
Date                    May'24
Name: 31, dtype: object)
(32, Program        Atlas VPN
Clicks                 1
Leads                  0
Sale Amount            0
Payout                 0
CR                   0.0
Date              May'24
Name: 32, dtype: object)

In [626]:
for row in df.itertuples():
     print(row)

Pandas(Index=0, Program='Walmart Affiliate Program', Clicks=2409, Leads=262, _4=136817388, Payout=421139, CR=0.1088, Date="May'24")
Pandas(Index=1, Program='NordVPN', Clicks=365, Leads=19, _4=6347903, Payout=2539217, CR=0.0521, Date="May'24")
Pandas(Index=2, Program='DHgate', Clicks=378, Leads=17, _4=3234966, Payout=225174, CR=0.045, Date="May'24")
Pandas(Index=3, Program='InVideo', Clicks=62, Leads=3, _4=0, Payout=0, CR=0.0484, Date="May'24")
Pandas(Index=4, Program='Wondershare Software', Clicks=311, Leads=2, _4=285149, Payout=85601, CR=0.0064, Date="May'24")
Pandas(Index=5, Program='DigitalOcean', Clicks=229, Leads=2, _4=0, Payout=0, CR=0.0087, Date="May'24")
Pandas(Index=6, Program='Namecheap', Clicks=173, Leads=2, _4=12688, Payout=4604, CR=0.0116, Date="May'24")
Pandas(Index=7, Program='Blinkist', Clicks=60, Leads=2, _4=0, Payout=0, CR=0.0333, Date="May'24")
Pandas(Index=8, Program='CASETiFY', Clicks=145, Leads=1, _4=431601, Payout=43160, CR=0.0069, Date="May'24")
Pandas(Index=9, Program='Wish', Clicks=72, Leads=1, _4=96581, Payout=2925, CR=0.0139, Date="May'24")
Pandas(Index=10, Program='Bubble', Clicks=41, Leads=1, _4=0, Payout=0, CR=0.0244, Date="May'24")
Pandas(Index=11, Program='Lenovo Mexico', Clicks=15, Leads=1, _4=5425716, Payout=314690, CR=0.0667, Date="May'24")
Pandas(Index=12, Program='SSLs.com', Clicks=2, Leads=1, _4=69564, Payout=24372, CR=0.5, Date="May'24")
Pandas(Index=13, Program='OnePlus US & Canada', Clicks=125, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=14, Program='Banggood', Clicks=113, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=15, Program='Bluehost', Clicks=67, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=16, Program='Lenovo Hong Kong', Clicks=27, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=17, Program='Envato Elements', Clicks=25, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=18, Program='Name.com', Clicks=17, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=19, Program='Clean Email', Clicks=14, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=20, Program='Skillshare', Clicks=13, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=21, Program='Lenovo India', Clicks=8, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=22, Program='Lenovo Singapore', Clicks=8, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=23, Program='Web.com', Clicks=6, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=24, Program='Lenovo Thailand', Clicks=6, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=25, Program='Lenovo South Korea', Clicks=5, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=26, Program='Lenovo Peru', Clicks=4, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=27, Program='Crazy Domains Affiliate Program', Clicks=3, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=28, Program='Travelstart', Clicks=2, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=29, Program='Tribesigns', Clicks=1, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=30, Program='BigRock.in', Clicks=1, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=31, Program='Lenovo Colombia', Clicks=1, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")
Pandas(Index=32, Program='Atlas VPN', Clicks=1, Leads=0, _4=0, Payout=0, CR=0.0, Date="May'24")

In [627]:
df.groupby(['Program'], as_index= False)['Payout'].sum().sort_values(by = ['Payout',], ascending= False).head()

                      Program   Payout
23                    NordVPN  2539217
29  Walmart Affiliate Program   421139
16              Lenovo Mexico   314690
9                      DHgate   225174
32       Wondershare Software    85601

In [628]:
df[['Program', 'Clicks', 'Payout', 'Date']].sort_values(by=['Payout'], ascending= False).head(9)

                      Program  Clicks   Payout    Date
1                     NordVPN     365  2539217  May'24
0   Walmart Affiliate Program    2409   421139  May'24
11              Lenovo Mexico      15   314690  May'24
2                      DHgate     378   225174  May'24
4        Wondershare Software     311    85601  May'24
8                    CASETiFY     145    43160  May'24
12                   SSLs.com       2    24372  May'24
6                   Namecheap     173     4604  May'24
9                        Wish      72     2925  May'24

In [629]:
df.memory_usage()

Index          128
Program        264
Clicks         264
Leads          264
Sale Amount    264
Payout         264
CR             264
Date           264
dtype: int64

In [630]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Program      33 non-null     object
 1   Clicks       33 non-null     int64
 2   Leads        33 non-null     int64
 3   Sale Amount  33 non-null     int64
 4   Payout       33 non-null     int64
 5   CR           33 non-null     float64
 6   Date         33 non-null     object
dtypes: float64(1), int64(4), object(2)
memory usage: 5.7 KB

In [631]:
df.memory_usage().sum()

1976

In [632]:
Data = pd.read_csv(r"C:\Users\mk744\Downloads\Power BI project\Shoogloo XO CR Jan-24 to Apr-24.csv")

In [633]:
pd.set_option('display.max_columns', 20)

In [634]:
Data.head()

,conversion_id,click_id,campaign_id,campaign_name,conversion_method,country,city,isp,goal_id,goal_name,...,payout_in_campaign_currency,payout_in_user_currency,sale_amount_in_campaign_currency,sale_amount_in_user_currency,campaign_currency,created_date,created_time,Inventory,Partner,Email_id
0,65920089020cfa0516b79494,6591b701c93ae10341d0f461,4,Flipkart,acquisition,IN,Bantumilli,Airtel,NaN,Default,...,19.8,19.8,440.0,440.0,INR,1/1/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
1,65920ebd00aa5d04e559bd70,65920579a32e370349dfb922,4,Flipkart,acquisition,IN,Gachibowli,Airtel Broadband,NaN,Default,...,12.6,12.6,274.0,274.0,INR,1/1/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
2,659271fc971dbd04a5f3d618,659264cc67f02b03465efe14,4,Flipkart,acquisition,IN,Khurda,Jio,NaN,Default,...,13.5,13.5,379.0,379.0,INR,1/1/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
3,6592720d5d41f8052403061d,659269027bd03f0345903b6d,4,Flipkart,acquisition,IN,Ahmedabad,Jio,NaN,Default,...,3.6,3.6,120.0,120.0,INR,1/1/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
4,6592720d5d41f80524030639,65926924457fed033e5ca8bf,4,Flipkart,acquisition,IN,Hyderabad,Airtel,NaN,Default,...,3.6,3.6,124.0,124.0,INR,1/1/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com

In [635]:
ans = Data[['conversion_id', 'click_id', 'campaign_name', 'conversion_method', 'country', 'city', 'isp', 'goal_id', 'goal_name','payout_in_campaign_currency', 'payout_in_user_currency', 'sale_amount_in_campaign_currency']][:5]

In [636]:
ans

,conversion_id,click_id,campaign_name,conversion_method,country,city,isp,goal_id,goal_name,payout_in_campaign_currency,payout_in_user_currency,sale_amount_in_campaign_currency
0,65920089020cfa0516b79494,6591b701c93ae10341d0f461,Flipkart,acquisition,IN,Bantumilli,Airtel,NaN,Default,19.8,19.8,440.0
1,65920ebd00aa5d04e559bd70,65920579a32e370349dfb922,Flipkart,acquisition,IN,Gachibowli,Airtel Broadband,NaN,Default,12.6,12.6,274.0
2,659271fc971dbd04a5f3d618,659264cc67f02b03465efe14,Flipkart,acquisition,IN,Khurda,Jio,NaN,Default,13.5,13.5,379.0
3,6592720d5d41f8052403061d,659269027bd03f0345903b6d,Flipkart,acquisition,IN,Ahmedabad,Jio,NaN,Default,3.6,3.6,120.0
4,6592720d5d41f80524030639,65926924457fed033e5ca8bf,Flipkart,acquisition,IN,Hyderabad,Airtel,NaN,Default,3.6,3.6,124.0

In [637]:
ans.memory_usage()

Index                               128
conversion_id                        40
click_id                             40
campaign_name                        40
conversion_method                    40
country                              40
city                                 40
isp                                  40
goal_id                              40
goal_name                            40
payout_in_campaign_currency          40
payout_in_user_currency              40
sale_amount_in_campaign_currency     40
dtype: int64

In [638]:
ans.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   conversion_id                     5 non-null      object
 1   click_id                          5 non-null      object
 2   campaign_name                     5 non-null      object
 3   conversion_method                 5 non-null      object
 4   country                           5 non-null      object
 5   city                              5 non-null      object
 6   isp                               5 non-null      object
 7   goal_id                           0 non-null      object
 8   goal_name                         5 non-null      object
 9   payout_in_campaign_currency       5 non-null      float64
 10  payout_in_user_currency           5 non-null      float64
 11  sale_amount_in_campaign_currency  5 non-null      float64
dtypes: float64(3), object(9)
memory usage: 3.1 KB

In [639]:
ans.memory_usage().sum()

608

In [640]:
len(Data)

2949

In [641]:
Data.shape

(2949, 119)

In [642]:
Data.nunique()

conversion_id        2949
click_id             2379
campaign_id             6
campaign_name           6
conversion_method       3
                     ...
created_date          114
created_time          548
Inventory               1
Partner                 1
Email_id                1
Length: 119, dtype: int64

In [643]:
Data['campaign_id'].duplicated().sum()

2943

In [644]:
Data['campaign_id'].unique()

array([  4,   8,  46, 277,  48,  68], dtype=int64)

In [645]:
Data.shape[1]

119

In [646]:
Data.groupby(['conversion_id'], as_index= False)['campaign_name'].sum().sort_values(by ="campaign_name", ascending=False).head(1)

                 conversion_id campaign_name
2560  661cd5188dc89b4fe424579f     mCaffeine

In [647]:
Data.columns

Index(['conversion_id', 'click_id', 'campaign_id', 'campaign_name',
       'conversion_method', 'country', 'city', 'isp', 'goal_id', 'goal_name',
       ...
       'payout_in_campaign_currency', 'payout_in_user_currency',
       'sale_amount_in_campaign_currency', 'sale_amount_in_user_currency',
       'campaign_currency', 'created_date', 'created_time', 'Inventory',
       'Partner', 'Email_id'],
      dtype='object', length=119)

In [648]:
import warnings
warnings.filterwarnings('ignore')
Data.groupby(by = ['conversion_id']).sum().mean()['payout_in_user_currency']

20.52826449643947

In [649]:
Ans = Data[['conversion_id', 'click_id', 'campaign_name', 'conversion_method', 'country', 'city', 'isp', 'goal_id', 'goal_name','payout_in_campaign_currency', 'payout_in_user_currency', 'sale_amount_in_campaign_currency']]

In [650]:
vec = Ans[['conversion_id', 'click_id', 'city', 'goal_id', 'goal_name', 'isp']]
vec.isnull().head(30)

    conversion_id  click_id   city  goal_id  goal_name    isp
0           False     False  False     True      False  False
1           False     False  False     True      False  False
2           False     False  False     True      False  False
3           False     False  False     True      False  False
4           False     False  False     True      False  False
5           False     False  False     True      False  False
6           False     False  False     True      False  False
7           False     False  False     True      False  False
8           False     False  False     True      False  False
9           False     False  False     True      False  False
10          False     False  False     True      False  False
11          False     False  False     True      False  False
12          False     False  False     True      False  False
13          False     False  False     True      False  False
14          False     False  False     True      False  False
15          False     False  False     True      False  False
16          False     False  False     True      False  False
17          False     False  False     True      False  False
18          False     False  False     True      False  False
19          False     False  False     True      False  False
20          False     False  False     True      False  False
21          False     False  False     True      False  False
22          False     False  False     True      False  False
23          False     False  False     True      False  False
24          False     False  False     True      False  False
25          False     False  False     True      False  False
26          False     False  False     True      False  False
27          False     False  False     True      False  False
28          False     False  False     True      False  False
29          False     False  False     True      False  False

In [651]:
vec.notnull().head(40)

    conversion_id  click_id  city  goal_id  goal_name   isp
0            True      True  True    False       True  True
1            True      True  True    False       True  True
2            True      True  True    False       True  True
3            True      True  True    False       True  True
4            True      True  True    False       True  True
5            True      True  True    False       True  True
6            True      True  True    False       True  True
7            True      True  True    False       True  True
8            True      True  True    False       True  True
9            True      True  True    False       True  True
10           True      True  True    False       True  True
11           True      True  True    False       True  True
12           True      True  True    False       True  True
13           True      True  True    False       True  True
14           True      True  True    False       True  True
15           True      True  True    False       True  True
16           True      True  True    False       True  True
17           True      True  True    False       True  True
18           True      True  True    False       True  True
19           True      True  True    False       True  True
20           True      True  True    False       True  True
21           True      True  True    False       True  True
22           True      True  True    False       True  True
23           True      True  True    False       True  True
24           True      True  True    False       True  True
25           True      True  True    False       True  True
26           True      True  True    False       True  True
27           True      True  True    False       True  True
28           True      True  True    False       True  True
29           True      True  True    False       True  True
30           True      True  True    False       True  True
31           True      True  True    False       True  True
32           True      True  True    False       True  True
33           True      True  True    False       True  True
34           True      True  True    False       True  True
35           True      True  True    False       True  True
36           True      True  True    False       True  True
37           True      True  True    False       True  True
38           True      True  True    False       True  True
39           True      True  True    False       True  True

In [652]:
vec['goal_id'] = vec['goal_id'].bfill()

In [653]:
vec

,conversion_id,click_id,city,goal_id,goal_name,isp
0,65920089020cfa0516b79494,6591b701c93ae10341d0f461,Bantumilli,655c590c7746c16a12150895,Default,Airtel
1,65920ebd00aa5d04e559bd70,65920579a32e370349dfb922,Gachibowli,655c590c7746c16a12150895,Default,Airtel Broadband
2,659271fc971dbd04a5f3d618,659264cc67f02b03465efe14,Khurda,655c590c7746c16a12150895,Default,Jio
3,6592720d5d41f8052403061d,659269027bd03f0345903b6d,Ahmedabad,655c590c7746c16a12150895,Default,Jio
4,6592720d5d41f80524030639,65926924457fed033e5ca8bf,Hyderabad,655c590c7746c16a12150895,Default,Airtel
...,...,...,...,...,...,...
2944,66323ea337ee99325f5ccb71,66323ea337ee99325f5ccb70,XX,655c590c7746c16a12150895,Old User,XX
2945,66323ead37ee99325f5ccc43,66323ead37ee99325f5ccc42,XX,655c590c7746c16a12150895,Old User,XX
2946,66323eb537ee99325f5cccf4,66323eb537ee99325f5cccf3,XX,655c58e5e2ae6d4a18742d03,New User,XX
2947,66323ec937ee99325f5ccea7,66323ec937ee99325f5ccea6,XX,655c590c7746c16a12150895,Old User,XX
2948,66323ecb37ee99325f5ccecb,66323ecb37ee99325f5cceca,XX,655c590c7746c16a12150895,Old User,XX

In [654]:
vec['goal_id'].dropna(how='all')

0       655c590c7746c16a12150895
1       655c590c7746c16a12150895
2       655c590c7746c16a12150895
3       655c590c7746c16a12150895
4       655c590c7746c16a12150895
                  ...
2944    655c590c7746c16a12150895
2945    655c590c7746c16a12150895
2946    655c58e5e2ae6d4a18742d03
2947    655c590c7746c16a12150895
2948    655c590c7746c16a12150895
Name: goal_id, Length: 2949, dtype: object

In [655]:
vec['goal_id']

0       655c590c7746c16a12150895
1       655c590c7746c16a12150895
2       655c590c7746c16a12150895
3       655c590c7746c16a12150895
4       655c590c7746c16a12150895
                  ...
2944    655c590c7746c16a12150895
2945    655c590c7746c16a12150895
2946    655c58e5e2ae6d4a18742d03
2947    655c590c7746c16a12150895
2948    655c590c7746c16a12150895
Name: goal_id, Length: 2949, dtype: object

In [656]:
vec['goal_id'].fillna(method = "ffill")

0       655c590c7746c16a12150895
1       655c590c7746c16a12150895
2       655c590c7746c16a12150895
3       655c590c7746c16a12150895
4       655c590c7746c16a12150895
                  ...
2944    655c590c7746c16a12150895
2945    655c590c7746c16a12150895
2946    655c58e5e2ae6d4a18742d03
2947    655c590c7746c16a12150895
2948    655c590c7746c16a12150895
Name: goal_id, Length: 2949, dtype: object

In [657]:
ans

,conversion_id,click_id,campaign_name,conversion_method,country,city,isp,goal_id,goal_name,payout_in_campaign_currency,payout_in_user_currency,sale_amount_in_campaign_currency
0,65920089020cfa0516b79494,6591b701c93ae10341d0f461,Flipkart,acquisition,IN,Bantumilli,Airtel,NaN,Default,19.8,19.8,440.0
1,65920ebd00aa5d04e559bd70,65920579a32e370349dfb922,Flipkart,acquisition,IN,Gachibowli,Airtel Broadband,NaN,Default,12.6,12.6,274.0
2,659271fc971dbd04a5f3d618,659264cc67f02b03465efe14,Flipkart,acquisition,IN,Khurda,Jio,NaN,Default,13.5,13.5,379.0
3,6592720d5d41f8052403061d,659269027bd03f0345903b6d,Flipkart,acquisition,IN,Ahmedabad,Jio,NaN,Default,3.6,3.6,120.0
4,6592720d5d41f80524030639,65926924457fed033e5ca8bf,Flipkart,acquisition,IN,Hyderabad,Airtel,NaN,Default,3.6,3.6,124.0

In [658]:
ans['goal_id'].fillna(0, inplace=True)

In [659]:
ans

,conversion_id,click_id,campaign_name,conversion_method,country,city,isp,goal_id,goal_name,payout_in_campaign_currency,payout_in_user_currency,sale_amount_in_campaign_currency
0,65920089020cfa0516b79494,6591b701c93ae10341d0f461,Flipkart,acquisition,IN,Bantumilli,Airtel,0,Default,19.8,19.8,440.0
1,65920ebd00aa5d04e559bd70,65920579a32e370349dfb922,Flipkart,acquisition,IN,Gachibowli,Airtel Broadband,0,Default,12.6,12.6,274.0
2,659271fc971dbd04a5f3d618,659264cc67f02b03465efe14,Flipkart,acquisition,IN,Khurda,Jio,0,Default,13.5,13.5,379.0
3,6592720d5d41f8052403061d,659269027bd03f0345903b6d,Flipkart,acquisition,IN,Ahmedabad,Jio,0,Default,3.6,3.6,120.0
4,6592720d5d41f80524030639,65926924457fed033e5ca8bf,Flipkart,acquisition,IN,Hyderabad,Airtel,0,Default,3.6,3.6,124.0

In [660]:
Ans.head()

,conversion_id,click_id,campaign_name,conversion_method,country,city,isp,goal_id,goal_name,payout_in_campaign_currency,payout_in_user_currency,sale_amount_in_campaign_currency
0,65920089020cfa0516b79494,6591b701c93ae10341d0f461,Flipkart,acquisition,IN,Bantumilli,Airtel,NaN,Default,19.8,19.8,440.0
1,65920ebd00aa5d04e559bd70,65920579a32e370349dfb922,Flipkart,acquisition,IN,Gachibowli,Airtel Broadband,NaN,Default,12.6,12.6,274.0
2,659271fc971dbd04a5f3d618,659264cc67f02b03465efe14,Flipkart,acquisition,IN,Khurda,Jio,NaN,Default,13.5,13.5,379.0
3,6592720d5d41f8052403061d,659269027bd03f0345903b6d,Flipkart,acquisition,IN,Ahmedabad,Jio,NaN,Default,3.6,3.6,120.0
4,6592720d5d41f80524030639,65926924457fed033e5ca8bf,Flipkart,acquisition,IN,Hyderabad,Airtel,NaN,Default,3.6,3.6,124.0

In [661]:
Ans.isnull().sum()

conversion_id                          0
click_id                               0
campaign_name                          0
conversion_method                      0
country                                0
city                                   0
isp                                    0
goal_id                             2536
goal_name                              0
payout_in_campaign_currency            0
payout_in_user_currency                0
sale_amount_in_campaign_currency       0
dtype: int64

In [662]:
VEC = Ans['goal_id'].fillna("missing",inplace=True)

In [663]:
Ans

,conversion_id,click_id,campaign_name,conversion_method,country,city,isp,goal_id,goal_name,payout_in_campaign_currency,payout_in_user_currency,sale_amount_in_campaign_currency
0,65920089020cfa0516b79494,6591b701c93ae10341d0f461,Flipkart,acquisition,IN,Bantumilli,Airtel,missing,Default,19.800,19.800,440.0
1,65920ebd00aa5d04e559bd70,65920579a32e370349dfb922,Flipkart,acquisition,IN,Gachibowli,Airtel Broadband,missing,Default,12.600,12.600,274.0
2,659271fc971dbd04a5f3d618,659264cc67f02b03465efe14,Flipkart,acquisition,IN,Khurda,Jio,missing,Default,13.500,13.500,379.0
3,6592720d5d41f8052403061d,659269027bd03f0345903b6d,Flipkart,acquisition,IN,Ahmedabad,Jio,missing,Default,3.600,3.600,120.0
4,6592720d5d41f80524030639,65926924457fed033e5ca8bf,Flipkart,acquisition,IN,Hyderabad,Airtel,missing,Default,3.600,3.600,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2944,66323ea337ee99325f5ccb71,66323ea337ee99325f5ccb70,Myntra,csv_upload,XX,XX,XX,655c590c7746c16a12150895,Old User,11.550,11.550,330.0
2945,66323ead37ee99325f5ccc43,66323ead37ee99325f5ccc42,Myntra,csv_upload,XX,XX,XX,655c590c7746c16a12150895,Old User,16.380,16.380,468.0
2946,66323eb537ee99325f5cccf4,66323eb537ee99325f5cccf3,Myntra,csv_upload,XX,XX,XX,655c58e5e2ae6d4a18742d03,New User,16.940,16.940,242.0
2947,66323ec937ee99325f5ccea7,66323ec937ee99325f5ccea6,Myntra,csv_upload,XX,XX,XX,655c590c7746c16a12150895,Old User,33.005,33.005,943.0
2948,66323ecb37ee99325f5ccecb,66323ecb37ee99325f5cceca,Myntra,csv_upload,XX,XX,XX,655c590c7746c16a12150895,Old User,9.765,9.765,279.0

In [664]:
Ans.drop_duplicates()

,conversion_id,click_id,campaign_name,conversion_method,country,city,isp,goal_id,goal_name,payout_in_campaign_currency,payout_in_user_currency,sale_amount_in_campaign_currency
0,65920089020cfa0516b79494,6591b701c93ae10341d0f461,Flipkart,acquisition,IN,Bantumilli,Airtel,missing,Default,19.800,19.800,440.0
1,65920ebd00aa5d04e559bd70,65920579a32e370349dfb922,Flipkart,acquisition,IN,Gachibowli,Airtel Broadband,missing,Default,12.600,12.600,274.0
2,659271fc971dbd04a5f3d618,659264cc67f02b03465efe14,Flipkart,acquisition,IN,Khurda,Jio,missing,Default,13.500,13.500,379.0
3,6592720d5d41f8052403061d,659269027bd03f0345903b6d,Flipkart,acquisition,IN,Ahmedabad,Jio,missing,Default,3.600,3.600,120.0
4,6592720d5d41f80524030639,65926924457fed033e5ca8bf,Flipkart,acquisition,IN,Hyderabad,Airtel,missing,Default,3.600,3.600,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2944,66323ea337ee99325f5ccb71,66323ea337ee99325f5ccb70,Myntra,csv_upload,XX,XX,XX,655c590c7746c16a12150895,Old User,11.550,11.550,330.0
2945,66323ead37ee99325f5ccc43,66323ead37ee99325f5ccc42,Myntra,csv_upload,XX,XX,XX,655c590c7746c16a12150895,Old User,16.380,16.380,468.0
2946,66323eb537ee99325f5cccf4,66323eb537ee99325f5cccf3,Myntra,csv_upload,XX,XX,XX,655c58e5e2ae6d4a18742d03,New User,16.940,16.940,242.0
2947,66323ec937ee99325f5ccea7,66323ec937ee99325f5ccea6,Myntra,csv_upload,XX,XX,XX,655c590c7746c16a12150895,Old User,33.005,33.005,943.0
2948,66323ecb37ee99325f5ccecb,66323ecb37ee99325f5cceca,Myntra,csv_upload,XX,XX,XX,655c590c7746c16a12150895,Old User,9.765,9.765,279.0

In [665]:
Data.drop_duplicates()

,conversion_id,click_id,campaign_id,campaign_name,conversion_method,country,city,isp,goal_id,goal_name,...,payout_in_campaign_currency,payout_in_user_currency,sale_amount_in_campaign_currency,sale_amount_in_user_currency,campaign_currency,created_date,created_time,Inventory,Partner,Email_id
0,65920089020cfa0516b79494,6591b701c93ae10341d0f461,4,Flipkart,acquisition,IN,Bantumilli,Airtel,NaN,Default,...,19.800,19.800,440.0,440.0,INR,1/1/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
1,65920ebd00aa5d04e559bd70,65920579a32e370349dfb922,4,Flipkart,acquisition,IN,Gachibowli,Airtel Broadband,NaN,Default,...,12.600,12.600,274.0,274.0,INR,1/1/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
2,659271fc971dbd04a5f3d618,659264cc67f02b03465efe14,4,Flipkart,acquisition,IN,Khurda,Jio,NaN,Default,...,13.500,13.500,379.0,379.0,INR,1/1/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
3,6592720d5d41f8052403061d,659269027bd03f0345903b6d,4,Flipkart,acquisition,IN,Ahmedabad,Jio,NaN,Default,...,3.600,3.600,120.0,120.0,INR,1/1/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
4,6592720d5d41f80524030639,65926924457fed033e5ca8bf,4,Flipkart,acquisition,IN,Hyderabad,Airtel,NaN,Default,...,3.600,3.600,124.0,124.0,INR,1/1/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2944,66323ea337ee99325f5ccb71,66323ea337ee99325f5ccb70,8,Myntra,csv_upload,XX,XX,XX,655c590c7746c16a12150895,Old User,...,11.550,11.550,330.0,330.0,INR,4/30/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
2945,66323ead37ee99325f5ccc43,66323ead37ee99325f5ccc42,8,Myntra,csv_upload,XX,XX,XX,655c590c7746c16a12150895,Old User,...,16.380,16.380,468.0,468.0,INR,4/30/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
2946,66323eb537ee99325f5cccf4,66323eb537ee99325f5cccf3,8,Myntra,csv_upload,XX,XX,XX,655c58e5e2ae6d4a18742d03,New User,...,16.940,16.940,242.0,242.0,INR,4/30/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
2947,66323ec937ee99325f5ccea7,66323ec937ee99325f5ccea6,8,Myntra,csv_upload,XX,XX,XX,655c590c7746c16a12150895,Old User,...,33.005,33.005,943.0,943.0,INR,4/30/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com
2948,66323ecb37ee99325f5ccecb,66323ecb37ee99325f5cceca,8,Myntra,csv_upload,XX,XX,XX,655c590c7746c16a12150895,Old User,...,9.765,9.765,279.0,279.0,INR,4/30/2024,0:00:00,XO,Shoogloo,agoyal@flipshope.com

In [666]:
demo = Data[['campaign_name', 'country', 'city', 'payout_in_user_currency', 'created_date', 'campaign_currency']]

In [667]:
demo.head()

,campaign_name,country,city,payout_in_user_currency,created_date,campaign_currency
0,Flipkart,IN,Bantumilli,19.8,1/1/2024,INR
1,Flipkart,IN,Gachibowli,12.6,1/1/2024,INR
2,Flipkart,IN,Khurda,13.5,1/1/2024,INR
3,Flipkart,IN,Ahmedabad,3.6,1/1/2024,INR
4,Flipkart,IN,Hyderabad,3.6,1/1/2024,INR

In [668]:
demo[:60]

,campaign_name,country,city,payout_in_user_currency,created_date,campaign_currency
0,Flipkart,IN,Bantumilli,19.8,1/1/2024,INR
1,Flipkart,IN,Gachibowli,12.6,1/1/2024,INR
2,Flipkart,IN,Khurda,13.5,1/1/2024,INR
3,Flipkart,IN,Ahmedabad,3.6,1/1/2024,INR
4,Flipkart,IN,Hyderabad,3.6,1/1/2024,INR
5,Flipkart,IN,Rajkot,3.6,1/1/2024,INR
6,Flipkart,IN,Howrah,3.6,1/1/2024,INR
7,Flipkart,IN,Hyderabad,3.6,1/1/2024,INR
8,Flipkart,IN,Delhi,4.5,1/1/2024,INR
9,Flipkart,IN,Delhi,4.5,1/1/2024,INR
10,Flipkart,IN,Delhi,4.5,1/1/2024,INR
11,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
12,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
13,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
14,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
15,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
16,Flipkart,IN,Visakhapatnam,1.8,1/1/2024,INR
17,Flipkart,IN,Visakhapatnam,1.8,1/1/2024,INR
18,Flipkart,IN,Visakhapatnam,1.8,1/1/2024,INR
19,Flipkart,IN,Visakhapatnam,1.8,1/1/2024,INR
20,Flipkart,IN,Visakhapatnam,1.8,1/1/2024,INR
21,Flipkart,IN,Jatni,1.8,1/1/2024,INR
22,Flipkart,IN,Jatni,1.8,1/1/2024,INR
23,Flipkart,IN,Jatni,1.8,1/1/2024,INR
24,Flipkart,IN,Jatni,1.8,1/1/2024,INR
25,Flipkart,IN,Jatni,1.8,1/1/2024,INR
26,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
27,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
28,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
29,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
30,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
31,Flipkart,IN,Chandigarh,1.8,1/1/2024,INR
32,Flipkart,IN,Chandigarh,1.8,1/1/2024,INR
33,Flipkart,IN,Chandigarh,1.8,1/1/2024,INR
34,Flipkart,IN,Chandigarh,1.8,1/1/2024,INR
35,Flipkart,IN,Delhi,13.5,1/1/2024,INR
36,Flipkart,IN,Chandigarh,1.8,1/1/2024,INR
37,Flipkart,IN,Indore,1.8,1/1/2024,INR
38,Flipkart,IN,Indore,1.8,1/1/2024,INR
39,Flipkart,IN,Indore,1.8,1/1/2024,INR
40,Flipkart,IN,Indore,1.8,1/1/2024,INR
41,Flipkart,IN,Indore,1.8,1/1/2024,INR
42,Flipkart,IN,Indore,1.8,1/1/2024,INR
43,Flipkart,IN,Indore,1.8,1/1/2024,INR
44,Flipkart,IN,Indore,1.8,1/1/2024,INR
45,Flipkart,IN,Indore,1.8,1/1/2024,INR
46,Flipkart,IN,Indore,1.8,1/1/2024,INR
47,Flipkart,IN,Indore,1.8,1/1/2024,INR
48,Flipkart,IN,Indore,1.8,1/1/2024,INR
49,Flipkart,IN,Indore,1.8,1/1/2024,INR
50,Flipkart,IN,Indore,1.8,1/1/2024,INR
51,Flipkart,IN,Indore,1.8,1/1/2024,INR
52,Flipkart,XX,XX,1.8,1/1/2024,INR
53,Flipkart,XX,XX,1.8,1/1/2024,INR
54,Flipkart,XX,XX,1.8,1/1/2024,INR
55,Flipkart,XX,XX,1.8,1/1/2024,INR
56,Flipkart,XX,XX,1.8,1/1/2024,INR
57,Flipkart,XX,XX,1.8,1/1/2024,INR
58,Flipkart,XX,XX,1.8,1/1/2024,INR
59,Flipkart,XX,XX,1.8,1/1/2024,INR

In [669]:
demo.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2944    False
2945    False
2946    False
2947    False
2948    False
Length: 2949, dtype: bool

In [670]:
# to convert into lower case
lowercase = demo['campaign_name'].str.lower()

In [671]:
lowercase.head(60)

0     flipkart
1     flipkart
2     flipkart
3     flipkart
4     flipkart
5     flipkart
6     flipkart
7     flipkart
8     flipkart
9     flipkart
10    flipkart
11    flipkart
12    flipkart
13    flipkart
14    flipkart
15    flipkart
16    flipkart
17    flipkart
18    flipkart
19    flipkart
20    flipkart
21    flipkart
22    flipkart
23    flipkart
24    flipkart
25    flipkart
26    flipkart
27    flipkart
28    flipkart
29    flipkart
30    flipkart
31    flipkart
32    flipkart
33    flipkart
34    flipkart
35    flipkart
36    flipkart
37    flipkart
38    flipkart
39    flipkart
40    flipkart
41    flipkart
42    flipkart
43    flipkart
44    flipkart
45    flipkart
46    flipkart
47    flipkart
48    flipkart
49    flipkart
50    flipkart
51    flipkart
52    flipkart
53    flipkart
54    flipkart
55    flipkart
56    flipkart
57    flipkart
58    flipkart
59    flipkart
Name: campaign_name, dtype: object

In [672]:
# How to replace values
demo['country'] = demo['country'].replace('XX', 'IN')

In [673]:
demo['city'] = demo['city'].replace('XX', 'City Name is XX')

In [674]:
demo.head(60)

,campaign_name,country,city,payout_in_user_currency,created_date,campaign_currency
0,Flipkart,IN,Bantumilli,19.8,1/1/2024,INR
1,Flipkart,IN,Gachibowli,12.6,1/1/2024,INR
2,Flipkart,IN,Khurda,13.5,1/1/2024,INR
3,Flipkart,IN,Ahmedabad,3.6,1/1/2024,INR
4,Flipkart,IN,Hyderabad,3.6,1/1/2024,INR
5,Flipkart,IN,Rajkot,3.6,1/1/2024,INR
6,Flipkart,IN,Howrah,3.6,1/1/2024,INR
7,Flipkart,IN,Hyderabad,3.6,1/1/2024,INR
8,Flipkart,IN,Delhi,4.5,1/1/2024,INR
9,Flipkart,IN,Delhi,4.5,1/1/2024,INR
10,Flipkart,IN,Delhi,4.5,1/1/2024,INR
11,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
12,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
13,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
14,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
15,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
16,Flipkart,IN,Visakhapatnam,1.8,1/1/2024,INR
17,Flipkart,IN,Visakhapatnam,1.8,1/1/2024,INR
18,Flipkart,IN,Visakhapatnam,1.8,1/1/2024,INR
19,Flipkart,IN,Visakhapatnam,1.8,1/1/2024,INR
20,Flipkart,IN,Visakhapatnam,1.8,1/1/2024,INR
21,Flipkart,IN,Jatni,1.8,1/1/2024,INR
22,Flipkart,IN,Jatni,1.8,1/1/2024,INR
23,Flipkart,IN,Jatni,1.8,1/1/2024,INR
24,Flipkart,IN,Jatni,1.8,1/1/2024,INR
25,Flipkart,IN,Jatni,1.8,1/1/2024,INR
26,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
27,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
28,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
29,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
30,Flipkart,IN,Hyderabad,1.8,1/1/2024,INR
31,Flipkart,IN,Chandigarh,1.8,1/1/2024,INR
32,Flipkart,IN,Chandigarh,1.8,1/1/2024,INR
33,Flipkart,IN,Chandigarh,1.8,1/1/2024,INR
34,Flipkart,IN,Chandigarh,1.8,1/1/2024,INR
35,Flipkart,IN,Delhi,13.5,1/1/2024,INR
36,Flipkart,IN,Chandigarh,1.8,1/1/2024,INR
37,Flipkart,IN,Indore,1.8,1/1/2024,INR
38,Flipkart,IN,Indore,1.8,1/1/2024,INR
39,Flipkart,IN,Indore,1.8,1/1/2024,INR
40,Flipkart,IN,Indore,1.8,1/1/2024,INR
41,Flipkart,IN,Indore,1.8,1/1/2024,INR
42,Flipkart,IN,Indore,1.8,1/1/2024,INR
43,Flipkart,IN,Indore,1.8,1/1/2024,INR
44,Flipkart,IN,Indore,1.8,1/1/2024,INR
45,Flipkart,IN,Indore,1.8,1/1/2024,INR
46,Flipkart,IN,Indore,1.8,1/1/2024,INR
47,Flipkart,IN,Indore,1.8,1/1/2024,INR
48,Flipkart,IN,Indore,1.8,1/1/2024,INR
49,Flipkart,IN,Indore,1.8,1/1/2024,INR
50,Flipkart,IN,Indore,1.8,1/1/2024,INR
51,Flipkart,IN,Indore,1.8,1/1/2024,INR
52,Flipkart,IN,City Name is XX,1.8,1/1/2024,INR
53,Flipkart,IN,City Name is XX,1.8,1/1/2024,INR
54,Flipkart,IN,City Name is XX,1.8,1/1/2024,INR
55,Flipkart,IN,City Name is XX,1.8,1/1/2024,INR
56,Flipkart,IN,City Name is XX,1.8,1/1/2024,INR
57,Flipkart,IN,City Name is XX,1.8,1/1/2024,INR
58,Flipkart,IN,City Name is XX,1.8,1/1/2024,INR
59,Flipkart,IN,City Name is XX,1.8,1/1/2024,INR

In [675]:
# how to change row name 
demo[['country', 'city']] = demo[['country', 'city']].replace({'country': {'IN': 'IND'}, 'city': {'City Name is XX': 'Indian City'}})

In [676]:
demo.head()

,campaign_name,country,city,payout_in_user_currency,created_date,campaign_currency
0,Flipkart,IND,Bantumilli,19.8,1/1/2024,INR
1,Flipkart,IND,Gachibowli,12.6,1/1/2024,INR
2,Flipkart,IND,Khurda,13.5,1/1/2024,INR
3,Flipkart,IND,Ahmedabad,3.6,1/1/2024,INR
4,Flipkart,IND,Hyderabad,3.6,1/1/2024,INR

In [677]:
demo.rename(columns = {'payout_in_user_currency' : 'commission', 'created_date' : 'Date', 'campaign_currency' : "currency"}, inplace = True)

In [678]:
demo.head()

  campaign_name country        city  commission      Date currency
0      Flipkart     IND  Bantumilli        19.8  1/1/2024      INR
1      Flipkart     IND  Gachibowli        12.6  1/1/2024      INR
2      Flipkart     IND      Khurda        13.5  1/1/2024      INR
3      Flipkart     IND   Ahmedabad         3.6  1/1/2024      INR
4      Flipkart     IND   Hyderabad         3.6  1/1/2024      INR

In [679]:
demo.isnull().sum()

campaign_name    0
country          0
city             0
commission       0
Date             0
currency         0
dtype: int64

In [680]:
demo.memory_usage().sum()

141680

In [681]:
demo['Date'] = pd.to_datetime(demo['Date'], errors='coerce')

In [682]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2949 entries, 0 to 2948
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_name  2949 non-null   object
 1   country        2949 non-null   object
 2   city           2949 non-null   object
 3   commission     2949 non-null   float64
 4   Date           2949 non-null   datetime64[ns]
 5   currency       2949 non-null   object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 138.4+ KB

In [687]:
demo['Date'].head(60)

0    2024-01-01
1    2024-01-01
2    2024-01-01
3    2024-01-01
4    2024-01-01
5    2024-01-01
6    2024-01-01
7    2024-01-01
8    2024-01-01
9    2024-01-01
10   2024-01-01
11   2024-01-01
12   2024-01-01
13   2024-01-01
14   2024-01-01
15   2024-01-01
16   2024-01-01
17   2024-01-01
18   2024-01-01
19   2024-01-01
20   2024-01-01
21   2024-01-01
22   2024-01-01
23   2024-01-01
24   2024-01-01
25   2024-01-01
26   2024-01-01
27   2024-01-01
28   2024-01-01
29   2024-01-01
30   2024-01-01
31   2024-01-01
32   2024-01-01
33   2024-01-01
34   2024-01-01
35   2024-01-01
36   2024-01-01
37   2024-01-01
38   2024-01-01
39   2024-01-01
40   2024-01-01
41   2024-01-01
42   2024-01-01
43   2024-01-01
44   2024-01-01
45   2024-01-01
46   2024-01-01
47   2024-01-01
48   2024-01-01
49   2024-01-01
50   2024-01-01
51   2024-01-01
52   2024-01-01
53   2024-01-01
54   2024-01-01
55   2024-01-01
56   2024-01-01
57   2024-01-01
58   2024-01-01
59   2024-01-01
Name: Date, dtype: datetime64[ns]

In [688]:
demo['Date'][60:120]

60    2024-01-01
61    2024-01-01
62    2024-01-01
63    2024-01-01
64    2024-01-01
65    2024-01-01
66    2024-01-01
67    2024-01-01
68    2024-01-01
69    2024-01-02
70    2024-01-02
71    2024-01-02
72    2024-01-02
73    2024-01-02
74    2024-01-02
75    2024-01-02
76    2024-01-02
77    2024-01-02
78    2024-01-02
79    2024-01-02
80    2024-01-02
81    2024-01-02
82    2024-01-03
83    2024-01-03
84    2024-01-03
85    2024-01-03
86    2024-01-03
87    2024-01-03
88    2024-01-03
89    2024-01-03
90    2024-01-03
91    2024-01-03
92    2024-01-03
93    2024-01-03
94    2024-01-03
95    2024-01-03
96    2024-01-03
97    2024-01-03
98    2024-01-04
99    2024-01-04
100   2024-01-05
101   2024-01-05
102   2024-01-05
103   2024-01-05
104   2024-01-05
105   2024-01-05
106   2024-01-05
107   2024-01-05
108   2024-01-05
109   2024-01-05
110   2024-01-05
111   2024-01-05
112   2024-01-05
113   2024-01-05
114   2024-01-05
115   2024-01-05
116   2024-01-05
117   2024-01-05
118   2024-01-05
119   2024-01-05
Name: Date, dtype: datetime64[ns]

In [689]:
demo['Date'][120:180]

120   2024-01-05
121   2024-01-05
122   2024-01-05
123   2024-01-05
124   2024-01-05
125   2024-01-05
126   2024-01-05
127   2024-01-05
128   2024-01-05
129   2024-01-06
130   2024-01-06
131   2024-01-06
132   2024-01-06
133   2024-01-06
134   2024-01-06
135   2024-01-06
136   2024-01-06
137   2024-01-06
138   2024-01-06
139   2024-01-06
140   2024-01-06
141   2024-01-06
142   2024-01-06
143   2024-01-06
144   2024-01-06
145   2024-01-06
146   2024-01-06
147   2024-01-06
148   2024-01-06
149   2024-01-06
150   2024-01-06
151   2024-01-06
152   2024-01-06
153   2024-01-06
154   2024-01-06
155   2024-01-06
156   2024-01-06
157   2024-01-06
158   2024-01-06
159   2024-01-06
160   2024-01-06
161   2024-01-06
162   2024-01-06
163   2024-01-07
164   2024-01-07
165   2024-01-07
166   2024-01-07
167   2024-01-07
168   2024-01-07
169   2024-01-07
170   2024-01-07
171   2024-01-07
172   2024-01-07
173   2024-01-07
174   2024-01-07
175   2024-01-07
176   2024-01-07
177   2024-01-07
178   2024-01-07
179   2024-01-07
Name: Date, dtype: datetime64[ns]

In [1]:
! pip install skim

Requirement already satisfied: skim in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (1.2)

WARNING: Ignoring invalid distribution -treamlit (c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -treamlit (c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
! pip install skimpy

Collecting skimpy

WARNING: Ignoring invalid distribution -treamlit (c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -treamlit (c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-intel 2.13.0 requires typing-extensions<4.6.0,>=3.6.6, but you have typing-extensions 4.11.0 which is incompatible.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

  Obtaining dependency information for skimpy from https://files.pythonhosted.org/packages/5a/a5/71055a3e624f367ac8c024b8c898621d5890064cc335cdaaefb25dce39ac/skimpy-0.0.15-py3-none-any.whl.metadata
  Downloading skimpy-0.0.15-py3-none-any.whl.metadata (28 kB)
Requirement already satisfied: Pygments<3.0.0,>=2.10.0 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from skimpy) (2.16.1)
Requirement already satisfied: click<9.0.0,>=8.1.6 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from skimpy) (8.1.6)
Requirement already satisfied: ipykernel<7.0.0,>=6.7.0 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from skimpy) (6.25.2)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from skimpy) (1.24.3)
Collecting pandas<3.0.0,>=2.0.3 (from skimpy)
  Obtaining dependency information for pandas<3.0.0,>=2.0.3 from https://files.pythonhosted.org/packages/69/a6/81d5dc9a612cf0c1810c2ebc4f2afddb900382276522b18d128213faeae3/pandas-2.2.2-cp310-cp310-win_amd64.whl.metadata
  Downloading pandas-2.2.2-cp310-cp310-win_amd64.whl.metadata (19 kB)
Collecting polars<0.21,>=0.19 (from skimpy)
  Obtaining dependency information for polars<0.21,>=0.19 from https://files.pythonhosted.org/packages/43/cf/24e1685bf98ce9c0edcdce79d5b35b853b4e6538b3687afaa3a5b430f466/polars-0.20.26-cp38-abi3-win_amd64.whl.metadata
  Downloading polars-0.20.26-cp38-abi3-win_amd64.whl.metadata (14 kB)
Requirement already satisfied: pyarrow<17,>=13 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from skimpy) (13.0.0)
Requirement already satisfied: rich<14.0,>=10.9 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from skimpy) (13.5.2)
Collecting typeguard==4.2.1 (from skimpy)
  Obtaining dependency information for typeguard==4.2.1 from https://files.pythonhosted.org/packages/d9/59/e02336eb478ccdfc9bb0d4c27ce04a4260cd8b45aa04f6b00bcfdbb66a2a/typeguard-4.2.1-py3-none-any.whl.metadata
  Downloading typeguard-4.2.1-py3-none-any.whl.metadata (3.7 kB)
Collecting typing-extensions>=4.10.0 (from typeguard==4.2.1->skimpy)
  Obtaining dependency information for typing-extensions>=4.10.0 from https://files.pythonhosted.org/packages/01/f3/936e209267d6ef7510322191003885de524fc48d1b43269810cd589ceaf5/typing_extensions-4.11.0-py3-none-any.whl.metadata
  Downloading typing_extensions-4.11.0-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: colorama in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from click<9.0.0,>=8.1.6->skimpy) (0.4.6)
Requirement already satisfied: comm>=0.1.1 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (0.1.4)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (1.8.0)
Requirement already satisfied: ipython>=7.23.1 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (8.15.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (8.3.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.3.1)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (1.5.7)
Requirement already satisfied: packaging in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (24.0)
Requirement already satisfied: psutil in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.9.5)
Requirement already satisfied: pyzmq>=20 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (25.1.1)
Requirement already satisfied: tornado>=6.1 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (6.3.3)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.10.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2023.3)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2023.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from rich<14.0,>=10.9->skimpy) (3.0.0)
Requirement already satisfied: backcall in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.0)
Requirement already satisfied: decorator in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.19.0)
Requirement already satisfied: pickleshare in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (3.0.39)
Requirement already satisfied: stack-data in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.6.2)
Requirement already satisfied: exceptiongroup in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (1.1.3)
Requirement already satisfied: platformdirs>=2.5 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel<7.0.0,>=6.7.0->skimpy) (4.2.0)
Requirement already satisfied: pywin32>=300 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel<7.0.0,>=6.7.0->skimpy) (306)
Requirement already satisfied: mdurl~=0.1 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from markdown-it-py>=2.2.0->rich<14.0,>=10.9->skimpy) (0.1.2)
Requirement already satisfied: six>=1.5 in c:\users\mk744\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=2.0.3->skimpy) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\mk744\appdata\roaming\python\python310\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (2.4.0)
Requirement already satisfied: pure-eval in c:\users\mk744\appdata\roaming\python\python310\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.2)
Downloading skimpy-0.0.15-py3-none-any.whl (16 kB)
Downloading typeguard-4.2.1-py3-none-any.whl (34 kB)
Using cached pandas-2.2.2-cp310-cp310-win_amd64.whl (11.6 MB)
Downloading polars-0.20.26-cp38-abi3-win_amd64.whl (28.2 MB)
   ---------------------------------------- 0.0/28.2 MB ? eta -:--:--
   ---------------------------------------- 0.1/28.2 MB 2.2 MB/s eta 0:00:13
   ---------------------------------------- 0.3/28.2 MB 2.6 MB/s eta 0:00:11
    --------------------------------------- 0.4/28.2 MB 3.2 MB/s eta 0:00:09
    --------------------------------------- 0.6/28.2 MB 3.3 MB/s eta 0:00:09
   - -------------------------------------- 0.7/28.2 MB 3.3 MB/s eta 0:00:09
   - -------------------------------------- 0.9/28.2 MB 3.3 MB/s eta 0:00:09
   - -------------------------------------- 0.9/28.2 MB 3.2 MB/s eta 0:00:09
   - -------------------------------------- 1.0/28.2 MB 2.7 MB/s eta 0:00:10
   - -------------------------------------- 1.0/28.2 MB 2.7 MB/s eta 0:00:10
   - -------------------------------------- 1.0/28.2 MB 2.7 MB/s eta 0:00:10
   - -------------------------------------- 1.1/28.2 MB 2.2 MB/s eta 0:00:13
   - -------------------------------------- 1.1/28.2 MB 2.1 MB/s eta 0:00:13
   - -------------------------------------- 1.1/28.2 MB 2.1 MB/s eta 0:00:13
   - -------------------------------------- 1.2/28.2 MB 1.9 MB/s eta 0:00:15
   - -------------------------------------- 1.3/28.2 MB 1.9 MB/s eta 0:00:15
   - -------------------------------------- 1.4/28.2 MB 1.9 MB/s eta 0:00:15
   -- ------------------------------------- 1.6/28.2 MB 2.0 MB/s eta 0:00:14
   -- ------------------------------------- 1.6/28.2 MB 2.0 MB/s eta 0:00:14
   -- ------------------------------------- 1.6/28.2 MB 1.9 MB/s eta 0:00:15
   -- ------------------------------------- 1.7/28.2 MB 1.9 MB/s eta 0:00:15
   -- ------------------------------------- 1.8/28.2 MB 1.8 MB/s eta 0:00:15
   -- ------------------------------------- 1.8/28.2 MB 1.8 MB/s eta 0:00:15
   -- ------------------------------------- 1.9/28.2 MB 1.8 MB/s eta 0:00:15
   -- ------------------------------------- 2.0/28.2 MB 1.8 MB/s eta 0:00:15
   --- ------------------------------------ 2.1/28.2 MB 1.8 MB/s eta 0:00:15
   --- ------------------------------------ 2.2/28.2 MB 1.9 MB/s eta 0:00:14
   --- ------------------------------------ 2.4/28.2 MB 1.9 MB/s eta 0:00:14
   --- ------------------------------------ 2.5/28.2 MB 1.9 MB/s eta 0:00:14
   --- ------------------------------------ 2.6/28.2 MB 1.9 MB/s eta 0:00:14
   --- ------------------------------------ 2.7/28.2 MB 2.0 MB/s eta 0:00:13
   ---- ----------------------------------- 2.9/28.2 MB 2.0 MB/s eta 0:00:13
   ---- ----------------------------------- 2.9/28.2 MB 2.0 MB/s eta 0:00:13
   ---- ----------------------------------- 3.0/28.2 MB 2.0 MB/s eta 0:00:13
   ---- ----------------------------------- 3.1/28.2 MB 2.0 MB/s eta 0:00:13
   ---- ----------------------------------- 3.2/28.2 MB 1.9 MB/s eta 0:00:13
   ---- ----------------------------------- 3.2/28.2 MB 1.9 MB/s eta 0:00:13
   ---- ----------------------------------- 3.3/28.2 MB 1.9 MB/s eta 0:00:14
   ---- ----------------------------------- 3.4/28.2 MB 1.9 MB/s eta 0:00:13
   ---- ----------------------------------- 3.4/28.2 MB 1.9 MB/s eta 0:00:13
   ---- ----------------------------------- 3.4/28.2 MB 1.9 MB/s eta 0:00:14
   ---- ----------------------------------- 3.5/28.2 MB 1.9 MB/s eta 0:00:14
   ----- ---------------------------------- 3.6/28.2 MB 1.8 MB/s eta 0:00:14
   ----- ---------------------------------- 3.6/28.2 MB 1.8 MB/s eta 0:00:14
   ----- ---------------------------------- 3.7/28.2 MB 1.8 MB/s eta 0:00:14
   ----- ---------------------------------- 3.8/28.2 MB 1.8 MB/s eta 0:00:14
   ----- ---------------------------------- 3.9/28.2 MB 1.8 MB/s eta 0:00:14
   ----- ---------------------------------- 3.9/28.2 MB 1.8 MB/s eta 0:00:14
   ----- ---------------------------------- 4.0/28.2 MB 1.8 MB/s eta 0:00:14
   ----- ---------------------------------- 4.0/28.2 MB 1.7 MB/s eta 0:00:14
   ----- ---------------------------------- 4.0/28.2 MB 1.7 MB/s eta 0:00:14
   ----- ---------------------------------- 4.1/28.2 MB 1.7 MB/s eta 0:00:14
   ----- ---------------------------------- 4.1/28.2 MB 1.7 MB/s eta 0:00:15
   ----- ---------------------------------- 4.1/28.2 MB 1.7 MB/s eta 0:00:15
   ----- ---------------------------------- 4.2/28.2 MB 1.7 MB/s eta 0:00:15
   ----- ---------------------------------- 4.2/28.2 MB 1.7 MB/s eta 0:00:15
   ------ --------------------------------- 4.2/28.2 MB 1.7 MB/s eta 0:00:15
   ------ --------------------------------- 4.3/28.2 MB 1.6 MB/s eta 0:00:15
   ------ --------------------------------- 4.3/28.2 MB 1.6 MB/s eta 0:00:15
   ------ --------------------------------- 4.4/28.2 MB 1.6 MB/s eta 0:00:15
   ------ --------------------------------- 4.5/28.2 MB 1.6 MB/s eta 0:00:15
   ------ --------------------------------- 4.5/28.2 MB 1.6 MB/s eta 0:00:15
   ------ --------------------------------- 4.6/28.2 MB 1.6 MB/s eta 0:00:15
   ------ --------------------------------- 4.7/28.2 MB 1.6 MB/s eta 0:00:15
   ------ --------------------------------- 4.8/28.2 MB 1.6 MB/s eta 0:00:15
   ------ --------------------------------- 4.9/28.2 MB 1.6 MB/s eta 0:00:15
   ------- -------------------------------- 5.0/28.2 MB 1.6 MB/s eta 0:00:15
   ------- -------------------------------- 5.0/28.2 MB 1.6 MB/s eta 0:00:15
   ------- -------------------------------- 5.1/28.2 MB 1.6 MB/s eta 0:00:15
   ------- -------------------------------- 5.2/28.2 MB 1.6 MB/s eta 0:00:15
   ------- -------------------------------- 5.3/28.2 MB 1.6 MB/s eta 0:00:15
   ------- -------------------------------- 5.3/28.2 MB 1.6 MB/s eta 0:00:15
   ------- -------------------------------- 5.4/28.2 MB 1.6 MB/s eta 0:00:15
   ------- -------------------------------- 5.5/28.2 MB 1.6 MB/s eta 0:00:15
   ------- -------------------------------- 5.5/28.2 MB 1.6 MB/s eta 0:00:15
   -------- ------------------------------- 5.7/28.2 MB 1.6 MB/s eta 0:00:14
   -------- ------------------------------- 5.8/28.2 MB 1.6 MB/s eta 0:00:14
   -------- ------------------------------- 5.8/28.2 MB 1.6 MB/s eta 0:00:14
   -------- ------------------------------- 5.8/28.2 MB 1.6 MB/s eta 0:00:14
   -------- ------------------------------- 5.9/28.2 MB 1.6 MB/s eta 0:00:14
   -------- ------------------------------- 6.1/28.2 MB 1.6 MB/s eta 0:00:14
   -------- ------------------------------- 6.2/28.2 MB 1.6 MB/s eta 0:00:14
   -------- ------------------------------- 6.2/28.2 MB 1.7 MB/s eta 0:00:14
   -------- ------------------------------- 6.3/28.2 MB 1.7 MB/s eta 0:00:14
   --------- ------------------------------ 6.4/28.2 MB 1.7 MB/s eta 0:00:14
   --------- ------------------------------ 6.6/28.2 MB 1.7 MB/s eta 0:00:13
   --------- ------------------------------ 6.6/28.2 MB 1.7 MB/s eta 0:00:13
   --------- ------------------------------ 6.8/28.2 MB 1.7 MB/s eta 0:00:13
   --------- ------------------------------ 6.8/28.2 MB 1.7 MB/s eta 0:00:13
   --------- ------------------------------ 6.9/28.2 MB 1.7 MB/s eta 0:00:13
   --------- ------------------------------ 7.0/28.2 MB 1.7 MB/s eta 0:00:13
   ---------- ----------------------------- 7.2/28.2 MB 1.7 MB/s eta 0:00:13
   ---------- ----------------------------- 7.3/28.2 MB 1.7 MB/s eta 0:00:13
   ---------- ----------------------------- 7.4/28.2 MB 1.7 MB/s eta 0:00:13
   ---------- ----------------------------- 7.5/28.2 MB 1.7 MB/s eta 0:00:12
   ---------- ----------------------------- 7.6/28.2 MB 1.7 MB/s eta 0:00:12
   ---------- ----------------------------- 7.7/28.2 MB 1.7 MB/s eta 0:00:12
   ----------- ---------------------------- 7.8/28.2 MB 1.7 MB/s eta 0:00:12
   ----------- ---------------------------- 7.9/28.2 MB 1.7 MB/s eta 0:00:12
   ----------- ---------------------------- 7.9/28.2 MB 1.7 MB/s eta 0:00:12
   ----------- ---------------------------- 7.9/28.2 MB 1.7 MB/s eta 0:00:12
   ----------- ---------------------------- 8.0/28.2 MB 1.7 MB/s eta 0:00:12
   ----------- ---------------------------- 8.0/28.2 MB 1.7 MB/s eta 0:00:12
   ----------- ---------------------------- 8.0/28.2 MB 1.7 MB/s eta 0:00:12
   ----------- ---------------------------- 8.1/28.2 MB 1.7 MB/s eta 0:00:12
   ----------- ---------------------------- 8.1/28.2 MB 1.7 MB/s eta 0:00:12
   ----------- ---------------------------- 8.2/28.2 MB 1.7 MB/s eta 0:00:12
   ----------- ---------------------------- 8.2/28.2 MB 1.7 MB/s eta 0:00:13
   ----------- ---------------------------- 8.2/28.2 MB 1.7 MB/s eta 0:00:13
   ----------- ---------------------------- 8.2/28.2 MB 1.7 MB/s eta 0:00:13
   ----------- ---------------------------- 8.2/28.2 MB 1.7 MB/s eta 0:00:13
   ----------- ---------------------------- 8.2/28.2 MB 1.6 MB/s eta 0:00:13
   ----------- ---------------------------- 8.3/28.2 MB 1.6 MB/s eta 0:00:13
   ----------- ---------------------------- 8.3/28.2 MB 1.6 MB/s eta 0:00:13
   ----------- ---------------------------- 8.3/28.2 MB 1.6 MB/s eta 0:00:13
   ----------- ---------------------------- 8.3/28.2 MB 1.6 MB/s eta 0:00:13
   ------------ --------------------------- 8.5/28.2 MB 1.6 MB/s eta 0:00:13
   ------------ --------------------------- 8.5/28.2 MB 1.6 MB/s eta 0:00:13
   ------------ --------------------------- 8.6/28.2 MB 1.6 MB/s eta 0:00:13
   ------------ --------------------------- 8.6/28.2 MB 1.6 MB/s eta 0:00:13
   ------------ --------------------------- 8.6/28.2 MB 1.6 MB/s eta 0:00:13
   ------------ --------------------------- 8.7/28.2 MB 1.5 MB/s eta 0:00:13
   ------------ --------------------------- 8.7/28.2 MB 1.5 MB/s eta 0:00:13
   ------------ --------------------------- 8.7/28.2 MB 1.5 MB/s eta 0:00:13
   ------------ --------------------------- 8.7/28.2 MB 1.5 MB/s eta 0:00:13
   ------------ --------------------------- 8.8/28.2 MB 1.5 MB/s eta 0:00:13
   ------------ --------------------------- 8.8/28.2 MB 1.5 MB/s eta 0:00:13
   ------------ --------------------------- 8.9/28.2 MB 1.5 MB/s eta 0:00:13
   ------------ --------------------------- 9.0/28.2 MB 1.5 MB/s eta 0:00:13
   ------------ --------------------------- 9.1/28.2 MB 1.5 MB/s eta 0:00:13
   ------------- -------------------------- 9.2/28.2 MB 1.5 MB/s eta 0:00:13
   ------------- -------------------------- 9.4/28.2 MB 1.5 MB/s eta 0:00:13
   ------------- -------------------------- 9.5/28.2 MB 1.6 MB/s eta 0:00:13
   ------------- -------------------------- 9.6/28.2 MB 1.6 MB/s eta 0:00:12
   ------------- -------------------------- 9.8/28.2 MB 1.6 MB/s eta 0:00:12
   -------------- ------------------------- 9.9/28.2 MB 1.6 MB/s eta 0:00:12
   -------------- ------------------------- 10.1/28.2 MB 1.6 MB/s eta 0:00:12
   -------------- ------------------------- 10.2/28.2 MB 1.6 MB/s eta 0:00:12
   -------------- ------------------------- 10.4/28.2 MB 1.6 MB/s eta 0:00:11
   -------------- ------------------------- 10.5/28.2 MB 1.6 MB/s eta 0:00:11
   --------------- ------------------------ 10.7/28.2 MB 1.6 MB/s eta 0:00:11
   --------------- ------------------------ 10.9/28.2 MB 1.6 MB/s eta 0:00:11
   --------------- ------------------------ 11.1/28.2 MB 1.6 MB/s eta 0:00:11
   --------------- ------------------------ 11.2/28.2 MB 1.6 MB/s eta 0:00:11
   ---------------- ----------------------- 11.4/28.2 MB 1.7 MB/s eta 0:00:10
   ---------------- ----------------------- 11.6/28.2 MB 1.7 MB/s eta 0:00:10
   ---------------- ----------------------- 11.8/28.2 MB 1.7 MB/s eta 0:00:10
   ---------------- ----------------------- 12.0/28.2 MB 1.7 MB/s eta 0:00:10
   ----------------- ---------------------- 12.2/28.2 MB 1.8 MB/s eta 0:00:10
   ----------------- ---------------------- 12.3/28.2 MB 1.8 MB/s eta 0:00:09

In [4]:
import pandas as pd
df = pd.read_csv(r"C:\Users\mk744\Downloads\Power BI project\Shoogloo XO CR Jan-24 to Apr-24.csv")

In [5]:
from skimpy import skim
skim(df)

c:\Users\mk744\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\lib\histograms.py:883: RuntimeWarning: invalid value encountered in divide
  return n/db/n.sum(), bin_edges

 skimpy summary
          Data Summary                Data Types

  dataframe          Values   Column Type  Count

  Number of rows     2949     float64      64
  Number of columns  119      string       51
   int32        4

                                                     number

  column_name             NA     NA %    mean    sd       p0   p25   p50    p75    p100     hist

  campaign_id                 0       0   6.233    9.372    4     4      4      8      277
  device_id                2949     100     nan      nan  nan   nan    nan    nan      nan
  p3                       2949     100     nan      nan  nan   nan    nan    nan      nan
  p4                       2949     100     nan      nan  nan   nan    nan    nan      nan
  p5                       2949     100     nan      nan  nan   nan    nan    nan      nan
  sale_amount                 0       0   734.7     2939    0   100    224    519    76000
  payout                      0       0   20.53    44.88    0  3.15    8.1   22.5     1350
  p6                       2949     100     nan      nan  nan   nan    nan    nan      nan
  p7                       2949     100     nan      nan  nan   nan    nan    nan      nan
  p8                       2949     100     nan      nan  nan   nan    nan    nan      nan
  p9                       2949     100     nan      nan  nan   nan    nan    nan      nan
  p10                      2949     100     nan      nan  nan   nan    nan    nan      nan
  click_to_conv_time          0       0    6400   174200    0     0    822   2625  9441000
  iet                      1134   38.45       0        0    0     0      0      0        0
  sub3                     2949     100     nan      nan  nan   nan    nan    nan      nan
  sub4                     2949     100     nan      nan  nan   nan    nan    nan      nan
  sub5                     2949     100     nan      nan  nan   nan    nan    nan      nan
  sub6                     2949     100     nan      nan  nan   nan    nan    nan      nan
  sub7                     2949     100     nan      nan  nan   nan    nan    nan      nan
  sub8                     2949     100     nan      nan  nan   nan    nan    nan      nan
  sub9                     2949     100     nan      nan  nan   nan    nan    nan      nan
  sub10                    2949     100     nan      nan  nan   nan    nan    nan      nan
  referer                  2949     100     nan      nan  nan   nan    nan    nan      nan
  gaid                     2949     100     nan      nan  nan   nan    nan    nan      nan
  idfa                     2949     100     nan      nan  nan   nan    nan    nan      nan
  app_id                   2949     100     nan      nan  nan   nan    nan    nan      nan
  app_name                 2949     100     nan      nan  nan   nan    nan    nan      nan
  aid                      2949     100     nan      nan  nan   nan    nan    nan      nan
  cr_name                  2949     100     nan      nan  nan   nan    nan    nan      nan
  sl                       2949     100     nan      nan  nan   nan    nan    nan      nan
  lat                         0       0   13.14    12.03    0     0  17.39   25.6    32.11
  long                        0       0   45.64    39.71    0     0  73.88  78.47    92.93
  afimp                    2949     100     nan      nan  nan   nan    nan    nan      nan
  coupon                   2949     100     nan      nan  nan   nan    nan    nan      nan
  userId                   2949     100     nan      nan  nan   nan    nan    nan      nan
  vta                      1134   38.45       0        0    0     0      0      0        0
  osa                         0       0   502.7     2864    0     0     55    255    76000
  pp                       1134   38.45       0        0    0     0      0      0        0
  pcid                     2949     100     nan      nan  nan   nan    nan    nan      nan
  ss                       2949     100     nan      nan  nan   nan    nan    nan      nan
  aff_chain                2949     100     nan      nan  nan   nan    nan    nan      nan
  esku                     2949     100     nan      nan  nan   nan    nan    nan      nan
  ecqu                     1134   38.45       0        0    0     0      0      0        0
  epid                     2949     100     nan      nan  nan   nan    nan    nan      nan
  epn                      2949     100     nan      nan  nan   nan    nan    nan      nan
  epbrand                  2949     100     nan      nan  nan   nan    nan    nan      nan
  epcat                    2949     100     nan      nan  nan   nan    nan    nan      nan
  epscat                   2949     100     nan      nan  nan   nan    nan    nan      nan
  edis                     1134   38.45       0        0    0     0      0      0        0
  epssn                    2949     100     nan      nan  nan   nan    nan    nan      nan
  enu                      1134   38.45       0        0    0     0      0      0        0
  esn                      2949     100     nan      nan  nan   nan    nan    nan      nan
  paid_at                  2949     100     nan      nan  nan   nan    nan    nan      nan
  rlo                      2949     100     nan      nan  nan   nan    nan    nan      nan
  att                      2949     100     nan      nan  nan   nan    nan    nan      nan
  fbclid                   2949     100     nan      nan  nan   nan    nan    nan      nan
  cgeo                     2949     100     nan      nan  nan   nan    nan    nan      nan
  plc                      2949     100     nan      nan  nan   nan    nan    nan      nan
  dmg                      2949     100     nan      nan  nan   nan    nan    nan      nan
  publisher_id                0       0      99        0   99    99     99     99       99
  affUsername              2949     100     nan      nan  nan   nan    nan    nan      nan
  external_offer_id        2949     100     nan      nan  nan   nan    nan    nan      nan
  advertiser_id            2949     100     nan      nan  nan   nan    nan    nan      nan
  campaign_app_name        2949     100     nan      nan  nan   nan    nan    nan      nan
  payout_in_campaign_cur      0       0   20.53    44.88    0  3.15    8.1   22.5     1350
  rency
  payout_in_user_currenc      0       0   20.53    44.88    0  3.15    8.1   22.5     1350
  y
  sale_amount_in_campaig      0       0   734.7     2939    0   100    224    519    76000
  n_currency
  sale_amount_in_user_cu      0       0   734.7     2939    0   100    224    519    76000
  rrency

                                                     string

  column_name                        NA         NA %        words per row            total words

  conversion_id                              0           0                        1                 2949
  click_id                                   0           0                        1                 2949
  campaign_name                              0           0                        1                 2957
  conversion_method                          0           0                        1                 2949
  country                                    0           0                        1                 2949
  city                                       0           0                        1                 2993
  isp                                        0           0                      1.2                 3505
  goal_id                                 2536          86                     0.14                  413
  goal_name                                  0           0                      1.1                 3362
  txn_id                                     0           0                        1                 2949
  p1                                      1094        37.1                     0.63                 1855
  p2                                      1568       53.17                     0.47                 1381
  click_device                            1263       42.83                     0.57                 1686
  status                                     0           0                        1                 2949
  created                                    0           0                        2                 5898
  currency                                   0           0                        1                 2949
  click_ip                                1263       42.83                     0.57                 1686
  os                                      1263       42.83                      1.2                 3450
  source                                  2412       81.79                     0.18                  537
  conv_request_ip                         1263       42.83                     0.57                 1686
  region                                     4        0.14                      1.2                 3399
  sub1                                    2947       99.93                   0.0024                    7
  sub2                                    2889       97.97                     0.02                   60
  type                                       0           0                        1                 2949
  landing_page                               0           0                        1                 2949
  landing_page_id                            0           0                        1                 2949
  note                                    2635       89.35                     0.11                  318
  click_referrer                          2272       77.04                     0.23                  677
  conn                                    1263       42.83                     0.57                 1686
  click_ua                                1263       42.83                      7.4                21780
  dl                                      1263       42.83                     0.57                 1686
  osc                                     1263       42.83                     0.57                 1686
  browser                                 1263       42.83                      1.1                 3317
  goalName                                   0           0                      1.1                 3362
  clickTime                                  0           0                        2                 5898
  sourceEnc                               2412       81.79                     0.18                  537
  publisher_manager                          0           0                        2                 5898
  advertiser_manager                         0           0                        2                 5934
  campaign_long_id                           0           0                        1                 2949
  publisher_long_id                          0           0                        1                 2949
  campCategory                               0           0                        3                 8847
  advertiser_name                            0           0                        1                 2949
  advertiser_long_id                         0           0                        1                 2949
  postbackFired                              0           0                        1                 2949
  approved_at                             2515       85.28                     0.29                  868
  campaign_currency                          0           0                        1                 2949
  created_date                               0           0                        1                 2949
  created_time                               0           0                        1                 2949
  Inventory                                  0           0                        1                 2949
  Partner                                    0           0                        1                 2949
  Email_id                                   0           0                        1                 2949

 End

In [6]:
from skimpy import generate_test_data, skim
df = generate_test_data()
skim(df)

 skimpy summary
          Data Summary                Data Types               Categories

  dataframe          Values   Column Type  Count   Categorical Variables

  Number of rows     1000     float64      3       class
  Number of columns  13       category     2       location
   datetime64   2
                                 object       2
                                 int32        1
                                 bool         1
                                 string       1
                                 timedelta64  1

                                                     number

  column_name   NA   NA %  mean      sd      p0         p25      p50         p75     p100   hist

  length          0     0    0.5016  0.3597  1.573e-06    0.134      0.4976  0.8602      1
  width           0     0     2.037   1.929   0.002057    0.603       1.468   2.953  13.91
  depth           0     0     10.02   3.208          2        8          10      12     20
  rnd           118  11.8  -0.01977   1.002     -2.809  -0.7355  -0.0007736  0.6639  3.717

                                                    category

  column_name                       NA         NA %            ordered                unique

  class                                     0               0  False                                   2
  location                                  1             0.1  False                                   5

                                                      bool

  column_name                         true             true rate                      hist

  booly_col                                       516                           0.52

                                                    datetime

  column_name                   NA     NA %      first               last               frequency

  datetime                          0         0      2018-01-31         2101-04-30      ME
  datetime_no_freq                  3       0.3      1992-01-05         2023-03-04      None

                                            <class 'datetime.date'>

  column_name                       NA     NA %      first             last              frequency

  datetime.date                         0         0  2018-01-31        2101-04-30        ME
  datetime.date_no_freq                 0         0  1992-01-05        2023-03-04        None

                                                  timedelta64

  column_name       NA    NA %     mean                   median                 max

  time diff            5      0.5        8 days 00:05:47        0 days 00:00:00        26 days 00:00:00

                                                     string

  column_name                NA       NA %        words per row                 total words

  text                             6         0.6                           5.8                      5761

 End