In [25]:
import pandas as pd

In [26]:
df = pd.read_csv(r"C:\Users\mk744\Downloads\Shoogloo FS.csv")

In [27]:
df.columns

Index(['conversion_id', 'click_id', 'campaign_id', 'campaign_name',
       'conversion_method', 'country', 'city', 'isp', 'goal_id', 'goal_name',
       ...
       'postbackFired', 'campaign_app_name', 'approved_at',
       'payout_in_campaign_currency', 'payout_in_user_currency',
       'sale_amount_in_campaign_currency', 'sale_amount_in_user_currency',
       'campaign_currency', 'created_date', 'created_time'],
      dtype='object', length=116)

In [28]:
df.head()

,conversion_id,click_id,campaign_id,campaign_name,conversion_method,country,city,isp,goal_id,goal_name,...,postbackFired,campaign_app_name,approved_at,payout_in_campaign_currency,payout_in_user_currency,sale_amount_in_campaign_currency,sale_amount_in_user_currency,campaign_currency,created_date,created_time
0,65920089020cfa0516b79494,6591b701c93ae10341d0f461,4,Flipkart,acquisition,IN,Bantumilli,Airtel,NaN,Default,...,No,NaN,4/26/2024 11:57,19.8,19.8,440.0,440.0,INR,1/1/2024,0:00:00
1,65920ebd00aa5d04e559bd70,65920579a32e370349dfb922,4,Flipkart,acquisition,IN,Gachibowli,Airtel Broadband,NaN,Default,...,No,NaN,4/26/2024 11:57,12.6,12.6,274.0,274.0,INR,1/1/2024,0:00:00
2,659271fc971dbd04a5f3d618,659264cc67f02b03465efe14,4,Flipkart,acquisition,IN,Khurda,Jio,NaN,Default,...,No,NaN,4/26/2024 11:57,13.5,13.5,379.0,379.0,INR,1/1/2024,0:00:00
3,6592720d5d41f8052403061d,659269027bd03f0345903b6d,4,Flipkart,acquisition,IN,Ahmedabad,Jio,NaN,Default,...,No,NaN,4/26/2024 11:57,3.6,3.6,120.0,120.0,INR,1/1/2024,0:00:00
4,6592720d5d41f80524030639,65926924457fed033e5ca8bf,4,Flipkart,acquisition,IN,Hyderabad,Airtel,NaN,Default,...,No,NaN,NaN,3.6,3.6,124.0,124.0,INR,1/1/2024,0:00:00

In [29]:
df['Inventory'] = 'Flipshope'

In [30]:
df['Partner'] = 'Shoogloo'

In [31]:
df['Email_Id'] = 'agoyal@flipshope.com'

In [32]:
df.columns

Index(['conversion_id', 'click_id', 'campaign_id', 'campaign_name',
       'conversion_method', 'country', 'city', 'isp', 'goal_id', 'goal_name',
       ...
       'payout_in_campaign_currency', 'payout_in_user_currency',
       'sale_amount_in_campaign_currency', 'sale_amount_in_user_currency',
       'campaign_currency', 'created_date', 'created_time', 'Inventory',
       'Partner', 'Email_Id'],
      dtype='object', length=119)

In [33]:
Ans = df[['Inventory','campaign_name','conversion_id','status','created', 'sale_amount','payout','currency','p1','Partner','Email_Id']]

In [34]:
Ans

,Inventory,campaign_name,conversion_id,status,created,sale_amount,payout,currency,p1,Partner,Email_Id
0,Flipshope,Flipkart,65920089020cfa0516b79494,approved,1/1/2024 0:00,440.0,19.80,INR,web_pricedrop,Shoogloo,agoyal@flipshope.com
1,Flipshope,Flipkart,65920ebd00aa5d04e559bd70,approved,1/1/2024 0:00,274.0,12.60,INR,telegram_m,Shoogloo,agoyal@flipshope.com
2,Flipshope,Flipkart,659271fc971dbd04a5f3d618,approved,1/1/2024 0:00,379.0,13.50,INR,1.70374E+12,Shoogloo,agoyal@flipshope.com
3,Flipshope,Flipkart,6592720d5d41f8052403061d,approved,1/1/2024 0:00,120.0,3.60,INR,telegram,Shoogloo,agoyal@flipshope.com
4,Flipshope,Flipkart,6592720d5d41f80524030639,rejected,1/1/2024 0:00,124.0,3.60,INR,telegram,Shoogloo,agoyal@flipshope.com
...,...,...,...,...,...,...,...,...,...,...,...
4475,Flipshope,Myntra,66531bdd0e566304ab8197d5,pending,5/26/2024 16:54,339.0,30.51,INR,telegram_m,Shoogloo,agoyal@flipshope.com
4476,Flipshope,Myntra,6652ee82ff565a04ab7c703f,pending,5/26/2024 13:40,881.0,79.29,INR,fsw,Shoogloo,agoyal@flipshope.com
4477,Flipshope,Flipkart,6653cd057a6102049c574465,pending,5/27/2024 5:30,149.0,5.40,INR,app_productPage,Shoogloo,agoyal@flipshope.com
4478,Flipshope,Flipkart,6653cd057a6102049c574432,pending,5/27/2024 5:30,237.0,8.10,INR,telegram_m,Shoogloo,agoyal@flipshope.com
4479,Flipshope,Flipkart,6653cd0448993a04ad3415c8,pending,5/27/2024 5:30,693.0,25.20,INR,telegram_m,Shoogloo,agoyal@flipshope.com

In [35]:
import warnings
warnings.filterwarnings('ignore')
Ans['created'] = pd.to_datetime(Ans['created'],  errors='coerce')
Ans['created'] = Ans['created'].dt.date

In [36]:
Rename_cols_1 = Ans.rename(columns= {'campaign_name':'Campaign_Name',
                                          'conversion_id':'Id', 'status':'Status',
                                          'created':'Date', 'sale_amount':'Amount', 'payout':'Payout',
                                         'currency':'Currency', 'p1':'Sub_Id' })

In [37]:
Rename_cols_1

,Inventory,Campaign_Name,Id,Status,Date,Amount,Payout,Currency,Sub_Id,Partner,Email_Id
0,Flipshope,Flipkart,65920089020cfa0516b79494,approved,2024-01-01,440.0,19.80,INR,web_pricedrop,Shoogloo,agoyal@flipshope.com
1,Flipshope,Flipkart,65920ebd00aa5d04e559bd70,approved,2024-01-01,274.0,12.60,INR,telegram_m,Shoogloo,agoyal@flipshope.com
2,Flipshope,Flipkart,659271fc971dbd04a5f3d618,approved,2024-01-01,379.0,13.50,INR,1.70374E+12,Shoogloo,agoyal@flipshope.com
3,Flipshope,Flipkart,6592720d5d41f8052403061d,approved,2024-01-01,120.0,3.60,INR,telegram,Shoogloo,agoyal@flipshope.com
4,Flipshope,Flipkart,6592720d5d41f80524030639,rejected,2024-01-01,124.0,3.60,INR,telegram,Shoogloo,agoyal@flipshope.com
...,...,...,...,...,...,...,...,...,...,...,...
4475,Flipshope,Myntra,66531bdd0e566304ab8197d5,pending,2024-05-26,339.0,30.51,INR,telegram_m,Shoogloo,agoyal@flipshope.com
4476,Flipshope,Myntra,6652ee82ff565a04ab7c703f,pending,2024-05-26,881.0,79.29,INR,fsw,Shoogloo,agoyal@flipshope.com
4477,Flipshope,Flipkart,6653cd057a6102049c574465,pending,2024-05-27,149.0,5.40,INR,app_productPage,Shoogloo,agoyal@flipshope.com
4478,Flipshope,Flipkart,6653cd057a6102049c574432,pending,2024-05-27,237.0,8.10,INR,telegram_m,Shoogloo,agoyal@flipshope.com
4479,Flipshope,Flipkart,6653cd0448993a04ad3415c8,pending,2024-05-27,693.0,25.20,INR,telegram_m,Shoogloo,agoyal@flipshope.com

In [38]:
df_1 = pd.read_csv(r"C:\Users\mk744\Downloads\Shoogloo Hyzzo.csv")

In [39]:
df_1['Inventory'] = 'Hyzzo'
df_1['Partner'] = 'Shoogloo'
df_1['Email_Id'] = 'partner@hyyzo.com'

In [40]:
select_cols = df_1[['Inventory','campaign_name','conversion_id','status','created','sale_amount', 'payout','currency','p1','Partner','Email_Id']]

In [41]:
select_cols.head()

,Inventory,campaign_name,conversion_id,status,created,sale_amount,payout,currency,p1,Partner,Email_Id
0,Hyzzo,mCaffeine,65945333149bfc04b72ae962,rejected,1/2/2024 0:00,231.0,39.270,INR,6SSZIn3yEZP7m0EuStiz,Shoogloo,partner@hyyzo.com
1,Hyzzo,Myntra,65bcf80c3c349a4a6d631947,rejected,1/7/2024 0:00,1430.0,64.350,INR,NaN,Shoogloo,partner@hyyzo.com
2,Hyzzo,Pepperfry,659bdc424c5a4004f15dbf92,approved,1/8/2024 0:00,299.0,16.146,INR,9B99n483pXQ5EulHDWSn,Shoogloo,partner@hyyzo.com
3,Hyzzo,Pepperfry,65a0e16514d37804ccec5b88,approved,1/12/2024 0:00,99.0,5.346,INR,ufyL1duanYN5AS1CgHWK,Shoogloo,partner@hyyzo.com
4,Hyzzo,Samsung - (Web & App),65fd417b1617123bd20ae059,approved,1/13/2024 0:00,10581.5,259.247,INR,9JfxRvswsJkdkcuJwgum,Shoogloo,partner@hyyzo.com

In [42]:
Rename_cols = select_cols.rename(columns= {'campaign_name':'Campaign_Name',
                                          'conversion_id':'Id', 'status':'Status',
                                          'created':'Date', 'sale_amount':'Amount', 'payout':'Payout',
                                         'currency':'Currency', 'p1':'Sub_Id' })

In [43]:
Rename_cols

,Inventory,Campaign_Name,Id,Status,Date,Amount,Payout,Currency,Sub_Id,Partner,Email_Id
0,Hyzzo,mCaffeine,65945333149bfc04b72ae962,rejected,1/2/2024 0:00,231.00,39.270,INR,6SSZIn3yEZP7m0EuStiz,Shoogloo,partner@hyyzo.com
1,Hyzzo,Myntra,65bcf80c3c349a4a6d631947,rejected,1/7/2024 0:00,1430.00,64.350,INR,NaN,Shoogloo,partner@hyyzo.com
2,Hyzzo,Pepperfry,659bdc424c5a4004f15dbf92,approved,1/8/2024 0:00,299.00,16.146,INR,9B99n483pXQ5EulHDWSn,Shoogloo,partner@hyyzo.com
3,Hyzzo,Pepperfry,65a0e16514d37804ccec5b88,approved,1/12/2024 0:00,99.00,5.346,INR,ufyL1duanYN5AS1CgHWK,Shoogloo,partner@hyyzo.com
4,Hyzzo,Samsung - (Web & App),65fd417b1617123bd20ae059,approved,1/13/2024 0:00,10581.50,259.247,INR,9JfxRvswsJkdkcuJwgum,Shoogloo,partner@hyyzo.com
...,...,...,...,...,...,...,...,...,...,...,...
144,Hyzzo,Myntra,660e90e39170c0164c11363f,pending,4/2/2024 0:00,1999.00,89.955,INR,NaN,Shoogloo,partner@hyyzo.com
145,Hyzzo,Myntra,660e91639170c0164c113fae,pending,4/3/2024 0:00,3807.00,342.630,INR,NaN,Shoogloo,partner@hyyzo.com
146,Hyzzo,The Derma Co,662fda63a648af04bb4f12d1,pending,4/29/2024 23:05,436.42,109.105,INR,LAWkDybtcWoFArIDPoLm,Shoogloo,partner@hyyzo.com
147,Hyzzo,The Derma Co,66370d6b91a39905246ab7bf,pending,5/5/2024 10:09,541.40,135.350,INR,pRIh7iRiqHRYtOCByB0k,Shoogloo,partner@hyyzo.com
148,Hyzzo,Boat Lifestyle,664759533f684c04accfbf60,pending,5/17/2024 18:49,784.00,54.880,INR,cBcGNiQ38zk6y8PZzWtU,Shoogloo,partner@hyyzo.com

In [44]:
import warnings
warnings.filterwarnings('ignore')
Rename_cols['Date'] = pd.to_datetime(Rename_cols['Date'],  errors='coerce')
Rename_cols['Date'] = Rename_cols['Date'].dt.date

In [45]:
Rename_cols

,Inventory,Campaign_Name,Id,Status,Date,Amount,Payout,Currency,Sub_Id,Partner,Email_Id
0,Hyzzo,mCaffeine,65945333149bfc04b72ae962,rejected,2024-01-02,231.00,39.270,INR,6SSZIn3yEZP7m0EuStiz,Shoogloo,partner@hyyzo.com
1,Hyzzo,Myntra,65bcf80c3c349a4a6d631947,rejected,2024-01-07,1430.00,64.350,INR,NaN,Shoogloo,partner@hyyzo.com
2,Hyzzo,Pepperfry,659bdc424c5a4004f15dbf92,approved,2024-01-08,299.00,16.146,INR,9B99n483pXQ5EulHDWSn,Shoogloo,partner@hyyzo.com
3,Hyzzo,Pepperfry,65a0e16514d37804ccec5b88,approved,2024-01-12,99.00,5.346,INR,ufyL1duanYN5AS1CgHWK,Shoogloo,partner@hyyzo.com
4,Hyzzo,Samsung - (Web & App),65fd417b1617123bd20ae059,approved,2024-01-13,10581.50,259.247,INR,9JfxRvswsJkdkcuJwgum,Shoogloo,partner@hyyzo.com
...,...,...,...,...,...,...,...,...,...,...,...
144,Hyzzo,Myntra,660e90e39170c0164c11363f,pending,2024-04-02,1999.00,89.955,INR,NaN,Shoogloo,partner@hyyzo.com
145,Hyzzo,Myntra,660e91639170c0164c113fae,pending,2024-04-03,3807.00,342.630,INR,NaN,Shoogloo,partner@hyyzo.com
146,Hyzzo,The Derma Co,662fda63a648af04bb4f12d1,pending,2024-04-29,436.42,109.105,INR,LAWkDybtcWoFArIDPoLm,Shoogloo,partner@hyyzo.com
147,Hyzzo,The Derma Co,66370d6b91a39905246ab7bf,pending,2024-05-05,541.40,135.350,INR,pRIh7iRiqHRYtOCByB0k,Shoogloo,partner@hyyzo.com
148,Hyzzo,Boat Lifestyle,664759533f684c04accfbf60,pending,2024-05-17,784.00,54.880,INR,cBcGNiQ38zk6y8PZzWtU,Shoogloo,partner@hyyzo.com

In [46]:
Append = pd.concat([Rename_cols_1,Rename_cols], ignore_index= True)

In [47]:
Append.isnull().sum()

Inventory           0
Campaign_Name       0
Id                  0
Status              0
Date                0
Amount              0
Payout              0
Currency            0
Sub_Id           1954
Partner             0
Email_Id            0
dtype: int64

In [49]:
Append.to_csv('Shoogloo_FS_Hyzzo.csv', index=False)